<section class="master_container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="button_row">
          <ul>
            <li><button mat-button class="btn btn-info" (click)="showList('add')"><i class="material-icons">add</i>Add</button></li>
            <li><button mat-button class="btn btn-success" (click)="showList('list')"><i class="material-icons">list</i>List</button></li>
          </ul>   
        </div>
      </div>
    </div>
  </div>
</section>

<div class="progress_loader_box" *ngIf="status == false">
  <div class="progress-loader" >
    <mat-progress-spinner [mode]="'indeterminate'" ></mat-progress-spinner>
  </div>
</div>

<form [formGroup]="userForm" autocomplete="off" *ngIf="isHidden==true"> 
  <section class="master_container">
    <div class="container-fluid"> 
      <div class="row">
        <div class="col-lg-12">
          <fieldset>
            <legend>Post Office Master</legend> 
           
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="form-group">
                <mat-label for="Post Office Name">Post Office</mat-label>
                <input type="text"  class="form-control" [(ngModel)]="model.post_office" formControlName="post_office">
              </div>
            </div> 

            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="form-group">
                <mat-label for="Post Office Name">PinCode</mat-label>
                <input type="number" on-focusout="focusOutFunction()" class="form-control" [(ngModel)]="model.pincode" formControlName="pincode">
              </div>
            </div> 
           
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="form-group">
                <mat-label>Country</mat-label>
                <mat-select-autocomplete class="form-control ats"  
                [options]="countriesList"
                [display]="'country_name'"
                [value]="'country_name'"
                [multiple]='false'
                (selectionChange)="onChangeCountry($event)"
                ngDefaultControl
                [formControl]="userForm.controls['country_name']">
              </mat-select-autocomplete>
              </div>
            </div> 

            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="form-group">
                <mat-label>State</mat-label>
                <mat-select-autocomplete class="form-control ats"  
                [options]="statesList"
                [display]="'state_name'"
                [value]="'state_code'"
                [multiple]='false'
                (selectionChange)="onChangeState($event)"
                ngDefaultControl
                [formControl]="userForm.controls['state_code']">
              </mat-select-autocomplete>
              </div>
            </div> 

            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="form-group">
                <mat-label>District</mat-label>
                <mat-select-autocomplete class="form-control ats"  
                [options]="districtsList"
                [display]="'dist_name'"
                [value]="'dist_code'"
                [multiple]='false'
                [selectedOptions]="selectedDist"
                ngDefaultControl
                [formControl]="userForm.controls['dist_code']">
              </mat-select-autocomplete>
              </div>
            </div>

          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group">
            <button type="submit" class="btn btn-primary"  (click)="send()">Submit</button>
          </div>
        </div>
      </div>
   </div>
  </section> 
</form>

<div class="master_containerr" *ngIf="isHidden==false">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <fieldset class="table_container">         
          <legend>Post Office Master List</legend>
          <div class="table_content">

          <div class="col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="form-group">
              <input type="text" placeholder="    Search..." class="form-control" (keydown)="search($event)">
            </div>
          </div>

            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Post Office</th>
                  <th>PIN Code</th>
                  <th>District</th>
                  <th>State</th>
                  <th>Country</th>
                  <th colspan="2">Action</th>
                </tr>
              </thead>
               <tbody>
                <tr *ngFor="let PostOffice of listPostOffice">
                  <td>{{PostOffice.post_office}}</td>
                  <td>{{PostOffice.pincode}}</td>
                  <td>{{PostOffice.dist_name}}</td>
                  <td>{{PostOffice.state_name}}</td>
                  <td>{{PostOffice.country_name}}</td>
                  <td><button class="btn btn-info" (click)="onUpdate(PostOffice.id)">Update</button></td>         
                  <td><button class="btn btn-danger" (click)="onDelete(PostOffice.id,PostOffice)">Delete</button></td>               
                </tr>
              </tbody> 
            </table>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>
  