<div class="container-fluid modal_box">
  <div class="row">
    <mat-dialog-content class="mat-typography">
      <div class="modal_main_content">
        <div id="print-section" class="print ">
          <div class="container-fluid">
            <div class="main_content inv">

              <div class="section1">
                <div class="main_header">
                  <div class="top_div">

                  </div>

                  <h1 class="uc">{{company_name}}</h1>

                  <!-- <div class="top_h4" *ngIf="company_name=='NORTHERN FLOUR MILLS';else elseBlock3 ">(FRN : {{cin_no}})<br>
                    {{work_address}}<br>
                    {{state_name}},{{city_name}},{{pin_no}}</div>
                  <ng-template #elseBlock3>
                  <div class="top_h4">(CIN : {{cin_no}})<br>
                    802,Mahua Road, Belkunda, Bhojpatti, Vaishali<br>
                    BIHAR,HAJIPUR,844125</div>
                  </ng-template> -->

                  <div class="top_h4"  style="text-align: center;" *ngIf ="weighBridgeLocation=='Weight Bridge 1';else WBname1">
                    <div class="top_h4" *ngIf="company_name=='NORTHERN FLOUR MILLS';else elseBlock3 ">(FRN : {{cin_no}})<br>
                      {{work_address}}<br>
                      {{state_name}},{{city_name}},{{pin_no}}</div>
                      <ng-template #elseBlock3>
                      <div class="top_h4">(CIN : {{cin_no}})<br>
                        802,Mahua Road, Belkunda, Bhojpatti, Vaishali<br>
                        BIHAR, HAJIPUR, 844125</div>
                      </ng-template>
                      <div class="top_h4"  style="text-align: center;">
                        W.B. OWNER :- ANKIT INDIA LIMITED (5200043217)<br>
                        AT-BHOJPATTI, PO - SARAI, PS-SARAI, BLOCK-RAJAPAKAR
                      </div> <!-- NEW ADDED FOR REGISTERED WB ORDER BY JITESH SIR ON 10042025-->
                  </div>
                  <ng-template #WBname1>
                    <div class="top_h4"  style="text-align: center;">
                      <div class="top_h4">(CIN : {{cin_no}})<br>
                        802,Mahua Road, Belkunda, Bhojpatti, Vaishali<br>
                        BIHAR, HAJIPUR, 844125</div>
                      W.B. OWNER :- AAYOG AGRO PVT. LTD.<br>
                      MAHUA ROAD, BELKUNDA, BHOJPATTI, VAISHALI<br>
                      BIHAR, HAJIPUR - 844125
                    </div>
                  </ng-template>

                  <h1 class="uc">Weighment Slip</h1>

                  <div class="rule_act">Office Copy</div>

                </div>
                <div class="box_table">
                  <div class="bxx-top">
                    <table class="table table_top table-bordered">
                      <tbody>
                        <tr>
                          <td style="width: 55%;" class="comp_adrs">
                            <table style="text-transform: uppercase;width: 100%;">
                              <tr>
                                <!-- <td>Party: </td>
                                <td>{{nopartyname}}</td> -->
                              </tr>
                              <tr>
                                <td>Item: </td>
                                <td>{{noitemname}}</td>
                              </tr>
                              <tr>
                                <td>Weigh Type: </td>
                                <td>Otherrs</td>
                              </tr>
                            </table>
                          </td>

                          <td style="width: 55%;" class="comp_adrs">
                            <table style="width: 100%;">
                              <tr>
                                <td>Weighment Serial No: </td>
                                <td>{{weighmentno}}</td>
                                <td>Dt.</td>
                                <td>{{staticdate}}</td>
                              </tr>
                              <tr>
                                <td style="font-size: large;" colspan="1"><b>Truck No:</b> </td>
                                <td style="font-size: large;" colspan="3"><b>{{trucknumber}}</b></td>
                              </tr>

                              <tr>
                                <td>Adv No. </td>
                                <td>NILL</td>
                                <td>First Bags</td>
                                <td>{{firstbags}}</td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                    <table class="table comp_tble" style="padding: 15px; text-align: center;border:1px;">
                      <thead>
                        <tr>
                          <th style="width: 25%;">&nbsp;</th>
                          <th style="width: 20%;">WEIGHT</th>
                          <th style="width: 20%;">UOM</th>
                          <th style="width: 20%;">DATE</th>
                          <th style="width: 20%;">TIME</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr style="width: 55%;" class="comp_adrs">
                          <td>Gr. Weight</td>
                          <td style="padding: 5px; text-align: center;">{{grossweight | number:'1.3-3'}}</td>
                          <td style="padding: 5px; text-align: center;">QNTL</td>
                          <td style="padding: 5px; text-align: center;">{{grossdate}}</td>
                          <td style="padding: 5px; text-align: center;">{{grosstime}}</td>
                        </tr>
                        <tr style="width: 55%;" class="comp_adrs">
                          <td>Tare Weight</td>
                          <td style="padding: 5px; text-align: center;">{{tareweight | number:'1.3-3'}}</td>
                          <td style="padding: 5px; text-align: center;">QNTL</td>
                          <td style="padding: 5px; text-align: center;">{{taredate}}</td>
                          <td style="padding: 5px; text-align: center;">{{taretime}}</td>
                        </tr>
                        <tr style="border-top: 1px solid #000;">
                          <td><strong>Net Weight</strong></td>
                          <td style="padding: 5px; text-align: center;"><b>{{netweight | number:'1.3-3'}}</b></td>
                          <td style="padding: 5px; text-align: center;"><b>QNTL</b></td>
                          <td style="padding: 5px; text-align: center;"><b>Bags</b></td>
                          <td style="padding: 5px; text-align: center;"><b>{{tarebags}}</b></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td style="padding: 5px; text-align: center;"><b>Price ₹</b></td>
                          <td style="padding: 5px; text-align: center;"><b>{{totalprice}}</b></td>
                        </tr>
                      </tbody>
                    </table>


                    <div class="ftr_btm ar" style="padding-top: 20px;"><strong>Weigh - Bridge Incharge</strong></div>
                  </div>
                </div>
              </div>

              <div class="section2">
                <div class="main_header">
                  <div class="top_div">

                  </div>

                  <h1 class="uc">{{company_name}}</h1>

                  <!-- <div class="top_h4" *ngIf="company_name=='NORTHERN FLOUR MILLS';else elseBlock3 ">(FRN : {{cin_no}})<br>
                    {{work_address}}<br>
                    {{state_name}},{{city_name}},{{pin_no}}</div>
                  <ng-template #elseBlock3>
                  <div class="top_h4">(CIN : {{cin_no}})<br>
                    802,Mahua Road, Belkunda, Bhojpatti, Vaishali<br>
                    BIHAR,HAJIPUR,844125</div>
                  </ng-template> -->

                  <div class="top_h4"  style="text-align: center;" *ngIf ="weighBridgeLocation=='Weight Bridge 1';else WBname1">
                    <div class="top_h4" *ngIf="company_name=='NORTHERN FLOUR MILLS';else elseBlock3 ">(FRN : {{cin_no}})<br>
                      {{work_address}}<br>
                      {{state_name}},{{city_name}},{{pin_no}}</div>
                      <ng-template #elseBlock3>
                      <div class="top_h4">(CIN : {{cin_no}})<br>
                        802,Mahua Road, Belkunda, Bhojpatti, Vaishali<br>
                        BIHAR, HAJIPUR, 844125</div>
                      </ng-template>
                      <div class="top_h4"  style="text-align: center;">
                        W.B. OWNER :- ANKIT INDIA LIMITED (5200043217)<br>
                        AT-BHOJPATTI, PO - SARAI, PS-SARAI, BLOCK-RAJAPAKAR
                      </div> <!-- NEW ADDED FOR REGISTERED WB ORDER BY JITESH SIR ON 10042025-->
                  </div>
                  <ng-template #WBname1>
                    <div class="top_h4"  style="text-align: center;">
                      <div class="top_h4">(CIN : {{cin_no}})<br>
                        802,Mahua Road, Belkunda, Bhojpatti, Vaishali<br>
                        BIHAR, HAJIPUR, 844125</div>
                      W.B. OWNER :- AAYOG AGRO PVT. LTD.<br>
                      MAHUA ROAD, BELKUNDA, BHOJPATTI, VAISHALI<br>
                      BIHAR, HAJIPUR - 844125
                    </div>
                  </ng-template>

                  <h1 class="uc">Weighment Slip</h1>

                  <div class="rule_act">Party Copy</div>

                </div>
                <div class="box_table">
                  <div class="bxx-top">
                    <table class="table table_top table-bordered">
                      <tbody>
                        <tr>
                          <td style="width: 55%;" class="comp_adrs">

                            <table style="text-transform: uppercase;width: 100%;">
                              <tr>
                                <!-- <td>Party: </td>
                                <td>{{nopartyname}}</td> -->
                              </tr>
                              <tr>
                                <td>Item: </td>
                                <td>{{noitemname}}</td>
                              </tr>
                              <tr>
                                <td>Weigh Type: </td>
                                <td>Otherrs</td>
                              </tr>
                            </table>

                          </td>

                          <td style="width: 55%;" class="comp_adrs">
                            <table style="width: 100%;">
                              <tr>
                                <td>Weighment Serial No: </td>
                                <td>{{weighmentno}}</td>
                                <td>Dt.</td>
                                <td>{{staticdate}}</td>
                              </tr>
                              <tr>
                                <td style="font-size: large;" colspan="1"><b>Truck No:</b> </td>
                                <td style="font-size: large;" colspan="3"><b>{{trucknumber}}</b></td>

                              </tr>
                              <tr>

                                <td>Adv No. </td>
                                <td colspan="3">NILL</td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                    <table class="table comp_tble" style="padding: 15px; text-align: center;border:1px;">
                      <thead>
                        <tr>
                          <th style="width: 25%;">&nbsp;</th>
                          <th style="width: 20%;">WEIGHT</th>
                          <th style="width: 20%;">UOM</th>
                          <th style="width: 20%;">DATE</th>
                          <th style="width: 20%;">TIME</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr style="width: 55%;" class="comp_adrs">
                          <td>Gr. Weight</td>
                          <td style="padding: 5px; text-align: center;">{{grossweight | number:'1.3-3'}}</td>
                          <td style="padding: 5px; text-align: center;">QNTL</td>
                          <td style="padding: 5px; text-align: center;">{{grossdate}}</td>
                          <td style="padding: 5px; text-align: center;">{{grosstime}}</td>
                        </tr>
                        <tr style="width: 55%;" class="comp_adrs">
                          <td>Tare Weight</td>
                          <td style="padding: 5px; text-align: center;">{{tareweight | number:'1.3-3'}}</td>
                          <td style="padding: 5px; text-align: center;">QNTL</td>
                          <td style="padding: 5px; text-align: center;">{{taredate}}</td>
                          <td style="padding: 5px; text-align: center;">{{taretime}}</td>
                        </tr>
                        <tr style="border-top: 1px solid #000;">
                          <td><strong>Net Weight</strong></td>
                          <td style="padding: 5px; text-align: center;"><b>{{netweight | number:'1.3-3'}}</b></td>
                          <td style="padding: 5px; text-align: center;"><b>QNTL</b></td>
                          <td style="padding: 5px; text-align: center;"><b>Bags</b></td>
                          <td style="padding: 5px; text-align: center;"><b>{{tarebags}}</b></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td style="padding: 5px; text-align: center;"><b>Price ₹</b></td>
                          <td style="padding: 5px; text-align: center;"><b>{{totalprice}}</b></td>
                        </tr>
                      </tbody>
                    </table>

                    <div class="ftr_btm ar" style="padding-top: 20px;"><strong>Weigh - Bridge Incharge</strong></div>
                  </div>
                </div>
              </div>


              <div class="section3">
                <div class="main_header">
                  <div class="top_div">

                  </div>

                  <h1 class="uc">{{company_name}}</h1>

                  <!-- <div class="top_h4" *ngIf="company_name=='NORTHERN FLOUR MILLS';else elseBlock3 ">(FRN : {{cin_no}})<br>
                    {{work_address}}<br>
                    {{state_name}},{{city_name}},{{pin_no}}</div>
                  <ng-template #elseBlock3>
                  <div class="top_h4">(CIN : {{cin_no}})<br>
                    802,Mahua Road, Belkunda, Bhojpatti, Vaishali<br>
                    BIHAR,HAJIPUR,844125</div>
                  </ng-template> -->

                  <div class="top_h4"  style="text-align: center;" *ngIf ="weighBridgeLocation=='Weight Bridge 1';else WBname1">
                    <div class="top_h4" *ngIf="company_name=='NORTHERN FLOUR MILLS';else elseBlock3 ">(FRN : {{cin_no}})<br>
                      {{work_address}}<br>
                      {{state_name}},{{city_name}},{{pin_no}}</div>
                      <ng-template #elseBlock3>
                      <div class="top_h4">(CIN : {{cin_no}})<br>
                        802,Mahua Road, Belkunda, Bhojpatti, Vaishali<br>
                        BIHAR, HAJIPUR, 844125</div>
                      </ng-template>
                      <div class="top_h4"  style="text-align: center;">
                        W.B. OWNER :- ANKIT INDIA LIMITED (5200043217)<br>
                        AT-BHOJPATTI, PO - SARAI, PS-SARAI, BLOCK-RAJAPAKAR
                      </div> <!-- NEW ADDED FOR REGISTERED WB ORDER BY JITESH SIR ON 10042025-->
                  </div>
                  <ng-template #WBname1>
                    <div class="top_h4"  style="text-align: center;">
                      <div class="top_h4">(CIN : {{cin_no}})<br>
                        802,Mahua Road, Belkunda, Bhojpatti, Vaishali<br>
                        BIHAR, HAJIPUR, 844125</div>
                      W.B. OWNER :- AAYOG AGRO PVT. LTD.<br>
                      MAHUA ROAD, BELKUNDA, BHOJPATTI, VAISHALI<br>
                      BIHAR, HAJIPUR - 844125
                    </div>
                  </ng-template>
                  
                  <h1 class="uc">Weighment Slip</h1>

                  <div class="rule_act">Weight Bridge Copy</div>

                </div>
                <div class="box_table">
                  <div class="bxx-top">
                    <table class="table table_top table-bordered">
                      <tbody>
                        <tr>
                          <td style="width: 55%;" class="comp_adrs">

                            <table style="text-transform: uppercase;width: 100%;">
                              <tr>
                                <!-- <td>Party: </td>
                                <td>{{nopartyname}}</td> -->
                              </tr>
                              <tr>
                                <td>Item: </td>
                                <td>{{noitemname}}</td>
                              </tr>
                              <tr>
                                <td>Weigh Type: </td>
                                <td>Otherrs</td>
                              </tr>
                            </table>
                          </td>

                          <td style="width: 55%;" class="comp_adrs">
                            <table style="width: 100%;">
                              <tr>
                                <td>Weighment Serial No: </td>
                                <td>{{weighmentno}}</td>
                                <td>Dt.</td>
                                <td>{{staticdate}}</td>
                              </tr>

                              <tr>
                                <td style="font-size: large;" colspan="1"><b>Truck No:</b></td>
                                <td style="font-size: large;" colspan="3"><b>{{trucknumber}}</b></td>

                              </tr>

                              <tr>

                                <td>Adv No. </td>
                                <td colspan="3">NILL</td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                    <table class="table comp_tble" style="padding: 15px; text-align: center;border:1px;">
                      <thead>
                        <tr>
                          <th style="width: 25%;">&nbsp;</th>
                          <th style="width: 20%;">WEIGHT</th>
                          <th style="width: 20%;">UOM</th>
                          <th style="width: 20%;">DATE</th>
                          <th style="width: 20%;">TIME</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr style="width: 55%;" class="comp_adrs">
                          <td>Gr. Weight</td>
                          <td style="padding: 5px; text-align: center;">{{grossweight | number:'1.3-3'}}</td>
                          <td style="padding: 5px; text-align: center;">QNTL</td>
                          <td style="padding: 5px; text-align: center;">{{grossdate}}</td>
                          <td style="padding: 5px; text-align: center;">{{grosstime}}</td>
                        </tr>
                        <tr style="width: 55%;" class="comp_adrs">
                          <td>Tare Weight</td>
                          <td style="padding: 5px; text-align: center;">{{tareweight | number:'1.3-3'}}</td>
                          <td style="padding: 5px; text-align: center;">QNTL</td>
                          <td style="padding: 5px; text-align: center;">{{taredate}}</td>
                          <td style="padding: 5px; text-align: center;">{{taretime}}</td>
                        </tr>
                        <tr style="border-top: 1px solid #000;">
                          <td><strong>Net Weight</strong></td>
                          <td style="padding: 5px; text-align: center;"><b>{{netweight | number:'1.3-3'}}</b></td>
                          <td style="padding: 5px; text-align: center;"><b>QNTL</b></td>
                          <td style="padding: 5px; text-align: center;"><b>Bags</b></td>
                          <td style="padding: 5px; text-align: center;"><b>{{tarebags}}</b></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td style="padding: 5px; text-align: center;"><b>Price ₹</b></td>
                          <td style="padding: 5px; text-align: center;"><b>{{totalprice}}</b></td>
                        </tr>
                      </tbody>
                    </table>

                    <div class="ftr_btm ar" style="padding-top: 20px;"><strong>Weigh - Bridge Incharge</strong></div>
                  </div>
                </div>
              </div>




            </div>
          </div>
        </div>
      </div>
    </mat-dialog-content>
    <button class="close_btn" mat-button mat-dialog-close><i class="fa fa-close icon"></i></button>

    <mat-dialog-actions align="end">
      <button [useExistingCss]="true" printSectionId="print-section" ngxPrint>print</button>
    </mat-dialog-actions>

  </div>
</div>