<div class="container-fluid modal_box">
  <div class="row">
    <mat-dialog-content class="mat-typography">
      <div class="modal_main_content">
        <div id="print-section" class="print ">
        <div class="container-fluid">
          <div class="main_content inv">
            <div class="section1">
              <div class="main_header">
              <div class="top_div">
                   <!-- <table class="table">
                    <tbody>
                      <tr>
                        <td style="width: 70%;">GSTIN : 19AADCA25181H12V &nbsp; </td>
                        <td style="width: 30%;">Phone : 2287-4064/2287-1538</td>
                      </tr>
                      <tr>
                        <td style="width: 70%;">PAN : AADCA251EH &nbsp;</td>
                        <td style="width: 30%;">FAX : 2281-8269<br></td>
                        
                      </tr>
                    </tbody>
                  </table>-->
                </div>


                
                <h1 class="uc">{{company_name}}  </h1>
                <div class="top_h4" *ngIf="company_name=='NORTHERN FLOUR MILLS';else elseBlock ">
                    (FRN : {{cin_no}} , GST No. : {{gstno}})<br>
                </div> 
                <ng-template #elseBlock>
                <div class="top_h4">
                  (CIN  : {{cin_no}} , GST No. : {{gstno}})<br>
                </div>
                </ng-template>
                <div class="top_h4">
                  <b >Mahua Road Belkunda Bhojpatti, Bihar, Vaishali-844125 </b>
                  <br/>
                  Registered Office Address - 14A, 5th floor, FMC FORTUNA<br>
                  234/3A A.J.C Bose Road, Kolkata 700020
                </div>
                  <!-- {{work_address}}<br>
                  {{state_name}},{{city_name}},{{pin_no}}
                </div> -->
         
                <h1 class="uc">Proforma Invoice</h1>
              </div>
              <div class="box_table">
                <div class="bxx-top">
                  <table class="table table_top table-bordered">
                    <tbody>
                      <tr>
                        <!--<td style="width: 50%; vertical-align: top;" class="brdr_right">-->
                          <td style="width: 50%;" class="brdr_right">
                          <!--<div class="form-control" style="min-height: 110px; border: 1px solid #ccc; border-radius: 4px;">
  
                            <input type="image" [src]="imageURL12" class="imageContainer" style="height:106px;width: 175px;" >  
                          </div>-->
                          <table style="width: 100%;" class="uc">
                            <tr>
                              <td><b>Party Details:</b></td>
                            </tr>
                            <tr>
                              <td>Name:  <b>{{partyname}}</b></td>
                              
                             <!-- <td>Date:</td>
                              <td>{{currentDate}}</td>  -->
                            </tr>
                            <tr>
                              <!-- <td>Address: </td> -->
                              <td colspan="3">Address:  <b>{{address}}</b></td>
                              <!--<td>&nbsp;</td>
                              <td>&nbsp;</td>-->
                            </tr>
                            <tr>
                              <!-- <td>Broker: </td>
                              <td colspan="3">{{brokername}}</td> -->
                              <!--<td>&nbsp;</td>
                              <td>&nbsp;</td>-->
                            </tr>
                            <!-- <tr>
                              <td>Purchase Order: </td>
                              <td><b>{{purNo}}</b></td>
                              <td>Date:</td>
                              <td>{{orddate}}</td>
                            </tr> -->
                           
                          </table>
                        </td>

                        <td style="width: 50%;" class="comp_adrs">
                          <table style="width: 100%;" class="uc">
                            <tr>
                              <td>PI No: </td>
                              <td>{{orderno}}</td>
                              <td>Dt.:</td>
                              <td>{{orderdatenew}}</td>
                            </tr>
                            <tr>
                              <td>Souda Type: </td>
                              <td>fresh</td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr>
                              <td>Del Period: </td>
                              <td>{{delivery_datenew}}</td>
                              <td>Del Term:</td>
                              <td>{{delivery_term}}</td>
                            </tr>
                            <tr>
                              <td>Payment Term: </td>
                              <td>{{payment_term}}</td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr>
                              <td>Broker Name: </td>
                              <td>{{broker}}</td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr>
                              <td>P.Order No: </td>
                              <td>{{cust_refdocno}}</td>
                              <td>Dt.:</td>
                              <td></td>
                            </tr>
                           
                          </table>
                        </td>
                     </tr>
                     
                    </tbody>
                  </table>
                  <br/>
                  <div class="bxx">
                    <table class="table table-bordered" style="padding: 5px;text-align: center;">
                      <thead>
                        <tr>
                          <th scope="col" style="width: 6%">SL.</th>
                          <th scope="col" style="width: 15%;">Particular</th>
                          <th scope="col" style="width: 15%;">Grade</th>
                          <th scope="col" style="width: 15%;">HSN code</th>
                          <th scope="col" style="width: 15%;">Packing</th>
                          <th scope="col" style="width: 5%;">Bags</th>
                          <th scope="col" style="width: 5%;">Wt. Qtls</th>
                          <th scope="col" style="width: 5%;">Rate</th>
                          <th scope="col" style="width: 5%;">Unit</th>
                          <!-- <th scope="col" style="width: 5%;">Discount</th> -->
                          <!-- <th scope="col" style="width: 5%;">Tax Name</th>
                          <th scope="col" style="width: 5%;">Tax amount</th> -->
                          <th scope="col" style="width: 5%;">Amount</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr  *ngFor="let i of itemDetails; let poinIndex = index">
                          <td>{{poinIndex+1}}</td> 
                          <td>{{i.item_code}}</td>
                          <td>{{i.item_name}}</td>
                          <td>{{i.inserted_by}}</td>
                          <td>{{i.packing_name}}</td>
                          <td style="text-align: center!important;">{{i.squantity}}</td>
                          <td style="text-align: center!important;">{{i.mat_wt | number:'1.3-3'}}</td>
                          <td style="text-align: center!important;">{{i.price | number:'1.2-2'}}</td>
                          <td style="text-align: center!important;">{{i.uom}}</td>
                          <!-- <td style="text-align: center!important;">{{i.discount_amt | number:'1.2-2'}}</td> -->
                          <!-- <td style="text-align: right!important;">{{i.tax_code}}</td>
                          <td style="text-align: right!important;">{{i.tax_amt | number:'1.2-2'}}</td> -->
                          <td style="text-align: right!important;">{{i.amount | number:'1.2-2'}}</td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          
                          
                          <td colspan="3" style="text-align: left!important;"><b>Gross Amount:</b></td>
                   
                          <td style="text-align: right!important;"><b>{{itemtotal| number:'1.2-2'}}</b></td>
                        </tr>
                    
                        <tr >
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          
                          
                          <td colspan="3" style="text-align: left!important;"><b>Discount:</b></td>
                   
                          <td style="text-align: right!important;"><b>{{discounttotal| number:'1.2-2'}}</b></td>
                        </tr>
                        <tr >
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          
                        
                          <td colspan="3" style="text-align: left!important;"><b>Amount:</b></td>
                   
                          <td style="text-align: right!important;"><b>{{amountotal| number:'1.2-2'}}</b></td>
                        </tr>
                        <tr *ngIf="cgst">
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          
                          <td></td>
                          <td></td>
                          
                          <td colspan="3" style="text-align: left!important;"><b>CGST:</b></td>
                   
                          <td style="text-align: right!important;"><b>{{cgsttotal| number:'1.2-2'}}</b></td>
                        </tr>
                        <tr *ngIf="cgst">
                          <td></td>
                          <td></td>
                          
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                         
                          <td colspan="3" style="text-align: left!important;"><b>SGST:</b></td>
                   
                          <td style="text-align: right!important;"><b>{{sgsttotal| number:'1.2-2'}}</b></td>
                        </tr>
                        <tr *ngIf="igst">
                          <td></td>
                        
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          
                          <td colspan="3" style="text-align: left!important;"><b>Igst:</b></td>
                   
                          <td style="text-align: right!important;"><b>{{isgsttotal| number:'1.2-2'}}</b></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                         
                          <td></td>
                          <td></td>
                          <td></td>
                          
                          <td colspan="3" style="text-align: left!important;"><b>Total Amount:</b></td>
                   
                          <td style="text-align: right!important;"><b>{{totalamount| number:'1.2-2'}}</b></td>
                        </tr>
                                              
                      </tbody>
                    </table>
  
                  </div>

                  <br/>
                  <div class="bxx" style="font-size: 13px!important">
                    <b> Amount in Words : {{amountinwords}}</b>
                    <br/>
                    <br/>
                    <b>Bank Details :</b>
                    <br/>
                    <b>State Bank of India ,Biada building ,Paswanchowk</b>
                    <br/>
                    <b>Hajipur Branch,Pin - 844101 </b>
                    <br/>
                    <b>Branch code : 17487</b>
                    <br/>
                    <b>A/C No. : 41416156521</b>
                    <br/>
                    <b>IFS CODE: SBIN0017487</b>
                    <br/>
                    <b>Pan No. : AATCA7447B</b>
                    
                    <br/>
                    <b>Remark (if any) :</b>
                    <br/>
                    <b style="float: right;">E.& O.E</b>
                    
                   
                  </div>
                  <div class="bxx"  style="float: right;">
                   
                    
                      For <b>AAYOG AGRO PRIVATE LIMITED</b>
                   

                  </div>
                  <br/><br/>
                 
                  <div class="bxx-toppest" style="padding: 10px;">
                    <ul>
                      <li></li>
                    
                      <li style="float: right;"><b>Authorised Signatory</b></li>
                      
                    </ul>
                  </div>

                 
                </div>

                    <!-- <hr style="border: 1px solid black;"> -->
                    <!-- <div class="addresscenter">
                          <b >Mahua Road Belkunda Bhojpatti, Vaishali-844125 </b>
                    </div> -->
                    
              </div>
            </div>
          </div>
          
        </div>
        </div>
      </div>
    </mat-dialog-content>
    <button class="close_btn" mat-button mat-dialog-close><i class="fa fa-close icon"></i></button>
    <!-- <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close><i class="fa fa-close icon"></i></button>
      <button class="btn btn-info" mat-button [mat-dialog-close]="true" cdkFocusInitial>Save</button>
    </mat-dialog-actions> -->
    <mat-dialog-actions align="end">
      <button [useExistingCss]="true" printSectionId="print-section" ngxPrint>print</button>
    </mat-dialog-actions>

  </div>
</div>







