<div class="progress_loader_box" *ngIf="status == false">
  <div class="progress-loader" >
    <mat-progress-spinner [mode]="'indeterminate'" ></mat-progress-spinner>
  </div>
</div>
<div class="container-fluid modal_box">
  <form [formGroup]="userForm">
    <div class="row">
      <div class="col-lg-8 col-md-12 col-sm-12 col-12 col-lg-offset-2">
        <mat-dialog-content class="mat-typography">
          <fieldset>
            <legend>Document List</legend>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="table_content tbl_dsn">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 50px;">&nbsp;</th>
                      <th>Sl No.</th>
                      <th>Approval No</th>
                      <th>Approval Date</th>
                      <th>Party Name</th>
                    </tr>  
                  </thead>
                  <tbody>
                    <tr *ngFor="let i of returnList; let poinIndex = index">
                      <!-- <td><mat-radio-button (change)="check1(i)"></mat-radio-button></td> -->
                      
                      <td *ngIf="showbutton;else elseBlockupdate">
                        <mat-radio-button (change)="check1(i)"></mat-radio-button>
                      </td>
                      <ng-template #elseBlockupdate>
                        <td >
                          <mat-radio-button  [checked] ="true" [disabled]="true"></mat-radio-button>
                        </td>
                    </ng-template>


                      <td>{{poinIndex+1}}</td>
                      <td>{{i.salesreturnno}}</td>
                      <td>{{i.salesreturndate}}</td>
                      <td>{{i.partyname}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>           
          </fieldset>
        </mat-dialog-content>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <mat-dialog-content class="mat-typography">
          <fieldset  style="padding:10px 20px;">
            <legend>Document List</legend>
            <div class="dyn_table_conent" style="border: none;">
              <div class="dyn_table_header">
                <label class="label_col"><h3>Select</h3></label>
               
                <label class="label_col"><h3 class="i_nam">Job Item</h3></label>
                <label class="label_col"><h3 class="i_nam">Job Packing</h3></label>
                <label class="label_col"><h3>HSN Code</h3></label>
                <label class="label_col"><h3>Packing Qty.</h3></label>
                <label class="label_col"><h3>Packing Uom</h3></label>
                <label class="label_col"><h3>Price Based On</h3></label>
                <label class="label_col"><h3>Item Qty.</h3></label>
                <label class="label_col"><h3>Item Uom</h3></label>
                <label class="label_col"><h3>Tolerance(%)</h3></label>
              </div>
              <div class="dyn_table_data_cont" formArrayName="job_details">
                <div class="dyn_table" *ngFor="let item of job_details.controls; let pointIndex=index" [formGroupName]="pointIndex">
                 
                  <div class="label_col" *ngIf="showbutton;else elseBlockupdatedynamic"><mat-checkbox class="form-control" formControlName="checkbox"></mat-checkbox></div>
                    
                  <ng-template #elseBlockupdatedynamic>
                    <div class="label_col" ><mat-checkbox class="form-control" style="width: 53px;" formControlName="checkbox" [disabled] ="true"></mat-checkbox></div>
                 </ng-template>

                 <div class="label_col"><input formControlName="job_item_name" class="form-control i_nam" type="text" readonly/></div>
                 <div class="label_col"><input formControlName="job_packing_name" type="text" class="form-control i_nam" readonly/></div>

                  <div class="label_col"><input class="form-control" formControlName="job_hsn" type="text" readonly/></div>
                  <div class="label_col"><input class="form-control" formControlName="pack_qty" type="number" readonly/></div>
                  <div class="label_col"><input type="text" class="form-control" formControlName="pack_uom" readonly></div>
                  <div class="label_col">
                    <select class="form-control" formControlName="price_based_on" disabled><option value="Item">Item</option><option value="Packing">Packing</option></select>
                  </div>
                  <div class="label_col"><input class="form-control" formControlName="item_qty" type="number" readonly/></div>
                 <div class="label_col"><input class="form-control" formControlName="item_uom" type="text" readonly/></div>
                 <div class="label_col"><input class="form-control" formControlName="tolerance" type="number" readonly/></div>
                 
                  
                </div>

              </div>
            </div>


           
            
          </fieldset>
        </mat-dialog-content>
      </div>
      <button class="close_btn" mat-button mat-dialog-close><i class="fa fa-close icon"></i></button>
    </div>
      <mat-dialog-actions align="end" *ngIf="showbutton">
          <button class="btn btn-info" (click)="SendDataToDifferentComponenet()">Submit</button>
        </mat-dialog-actions>
  </form>
</div>
  
  
  
  
