<section class="master_container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="button_row">
            <ul>
              <li><button mat-button class="btn btn-info" (click)="showList('add')"><i class="material-icons">add</i>Add</button></li>
              <li><button mat-button class="btn btn-success" (click)="showList('list')"><i class="material-icons">list</i>List</button></li>
            </ul>   
          </div>
        </div>
      </div>
    </div>
</section>
<div class="progress_loader_box" *ngIf="status == false">
  <div class="progress-loader" >
    <mat-progress-spinner [mode]="'indeterminate'" ></mat-progress-spinner>
  </div>
</div>
<form [formGroup]="userForm" autocomplete="off" *ngIf="isHidden==true">  
  <section class="master_container">
    <div class="container-fluid">  
      <div class="row">
        <div class="col-lg-12">
          <fieldset>
            <legend>Designation Master</legend>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="form-group">
                <mat-label for="ID">Designation Name<span class="red">*</span></mat-label>
                <input type="text" [(ngModel)]="model.desig_name" formControlName="desig_name" class="form-control" >
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="form-group">
                <mat-label for="ID">Designation Type</mat-label>
                <input type="text" [(ngModel)]="model.description" formControlName="description" class="form-control" >
              </div>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group">
            <div class="btn-toolbar">
              <button type="submit" class="btn btn-primary" (click)="send()" *ngIf="designationmastersave">Submit</button>
            </div>
          </div>            
        </div>
      </div>
    </div>
  </section>
</form>
        
  
<!-- list -->

<div class="master_containerr" *ngIf="isHidden==false">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <fieldset class="table_container">
          <legend>Designation List</legend>
          <div class="table_content">
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="form-group">
                  <input type="text" placeholder="    Search..." class="form-control" (keydown)="search($event)">
              </div>
            </div>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Designation Name</th>
                  <th>Description</th>
                  <th colspan="3">Action</th>
                </tr>
              </thead>
               <tbody>
                <tr *ngFor="let Designation of listDesignation">
                  <td>{{Designation.desig_name}}</td>
                  <td>{{Designation.description}}</td>
                  <td><button class="btn btn-success" (click)="onUpdate(Designation.id,'view')" *ngIf="designationmasterview">View</button></td>         
                  <td><button class="btn btn-info" (click)="onUpdate(Designation.id,'update')" *ngIf="designationmasterupdate">Update</button></td>         
                  <td><button class="btn btn-danger" (click)="onDelete(Designation.id,Designation.desig_id)" *ngIf="designationmasterdelete">Delete</button></td>                 
                </tr>
              </tbody> 
            </table>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>
  
    