.chk_tp_pad{padding-top: 35px;}
// .dyn_table{float: left;}
.btm_btn_content, .dyn_table_conent{float: left; clear: both;}
// .dyn_table_data_cont{overflow: scroll;}
.btm_btn_content{margin-left: 15px;}