.wth_1{width: 120px !important; display: inline-block; height: 32px;}
.data_table .form-control{ background: #fff; border: 1px solid #ccc;}
.data_table .dyn_table .label_col:last-child{border-right: 1px solid #ccc;}
.data_table .dyn_table .label_col{padding:4px; width: 115px; text-align: center;}
.weigh .dyn_table_conent .dyn_table_header label h3 { width: 189px; height: inherit;}
.weigh .label_col .form-control{ width: 179px; margin:0 5px; border-radius: 3px; }
// .weigh .label_col{border-right:1px solid #ccc;}
// .weigh .label_col:first-child{border-left:1px solid #ccc;}
.weigh .dyn_table_conent .dyn_table_header label h3.srl_no{width: 70px;}
.weigh .label_col .form-control.srl_no{width: 60px;}
.weigh .dyn_table_conent .dyn_table_header label h3.act{width: 114px;}
.weigh .label_col .form-control.act{width: 102px;}
.weigh .dyn_table_conent{ padding: 0; margin: 0;}
.dyn_table{border-bottom: none;}

.hed_div ul{list-style-type: none; text-align: center;}
.hed_div ul li{display: inline-block; float:none; margin: 0 15px; }
.hed_div ul li select{width: 200px; border-radius: 7px; border:1px solid #ca870b;}
.hed_div ul li select.form-control{ background-color: #f5aa20;}
.digital_weight{ font-size: 28px; font-weight: bold;}
// .dyn_table_conent .dyn_table_header label:last-child h3 {border-radius: 0 3px 0 0;}
.img-container {
    margin: 1rem;
    transition: all 300ms;
}
.img-container:hover {
    transform: scale(1.05);
}