<section class="master_container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="button_row">
          <ul>
            <li><button mat-button class="btn btn-info" (click)="showList('add')"><i class="material-icons">add</i>Add</button></li>
            <li><button mat-button class="btn btn-success" (click)="showList('list')" ><i class="material-icons">list</i>List</button></li>
          </ul>   
        </div>
      </div>
    </div>

    <div class="progress_loader_box" *ngIf="status == false">
      <div class="progress-loader"> 
        <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
      </div>
    </div>

    <form [formGroup]="userForm" autocomplete="off" *ngIf="isHidden==true">  
      <div class="row">
        <div class="col-lg-12">
          <fieldset>
            <legend>Item Type Details</legend>

            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="form-group">
                <label for="Item Code">ItemType Code</label>
                <input formControlName="item_code" [(ngModel)]="seq_no" #iCodeInput (blur)="chkItemtypeCodeStatus($event)" type="text" readonly class="form-control">
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="form-group">
                <label for="Item Name">Item Type<span class="red">*</span></label>
                <input formControlName="item_name" ngModel pattern="[a-zA-Z ]*"  type="text" class="form-control">
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="form-group chk_tp_pad">
                <mat-checkbox formControlName="item_active" [(ngModel)]="model.item_active">Different modes of Purchase</mat-checkbox> 
              </div>
            </div>

          </fieldset>
        </div>
      </div>
      
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group" >
            <!-- <button (click)="send()" type="submit" class="btn btn-primary" *ngIf="isValid==false">Submit</button> -->
            <button (click)="send($event)"  type="submit" class="btn btn-primary" *ngIf="itemtypesave" >Submit</button> 
          </div>
        </div>
      </div>
  
    </form> 
  </div>
</section>
  

  <!-- list -->

<div class="master_containerr" *ngIf="isHidden==false">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <fieldset class="table_container">
          <legend>Item Type List</legend>
          <div class="table_content">

            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="form-group">
                <input type="text" placeholder="Search ....." class="form-control" (keydown)="search($event)">
              </div>
            </div>

            <table class="table table-bordered">
              <thead>
                <tr>
                  <!-- <th>ItemType ID</th> -->
                  <th>ItemType Code</th>
                  <th>Item Type</th>
                  <!-- <th>Different modes of Purchase</th> -->
                  <th colspan="1">Action</th>
                </tr>
              </thead>
              <!-- <div *ngFor="let page of pagesize; let pontIndex=index;"> -->
              <tbody>
                <tr *ngFor="let Item_type_master of listItem_type_master">
                  
                  <!-- <td>{{Item_type_master.item_id}}</td> -->
                  <td>{{Item_type_master.item_code}}</td>
                  <td>{{Item_type_master.item_name}}</td>
                  <!-- <td>{{Item_type_master.item_active}}</td> -->
                   <td><button class="btn btn-success" (click)="onUpdate(Item_type_master.id,'view')" *ngIf="itemtypeview">View</button></td>
                   <!-- <td><button class="btn btn-danger" (click)="onDelete(Item_type_master.id)" *ngIf="itemtypedelete">Delete</button></td>              -->
                </tr>
              </tbody>
            <!-- </div> -->
            </table>
          </div>
        </fieldset>
      </div>
      <div class="col-lg-12 pagination_content" *ngIf="no_of_page > 1 || no_of_page !=  page">
        <ul class="pagination">
          <button (click)="OnClickNext(page+1)">>></button>
        </ul>
      </div>
      <div class="col-lg-12 pagination_content" *ngIf="page > 1 && no_of_page >=  page ">
        <ul class="pagination">
          <button (click)="OnClickPrevious(page-1)"></button>
        </ul>
      </div>
    </div>
  </div>
</div>
  
  