
  <section class="master_container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="button_row">
            <ul>
              <li><button mat-button class="btn btn-info" (click)="showList('add')"><i class="material-icons">add</i>Add</button></li>
              <li><button mat-button class="btn btn-success" (click)="showList('list')"><i class="material-icons">list</i>List</button></li>
            </ul>   
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="progress_loader_box" *ngIf="status == false">
    <div class="progress-loader" >
      <mat-progress-spinner [mode]="'indeterminate'" ></mat-progress-spinner>
    </div>
  </div>
  <form [formGroup]="userForm"  *ngIf="isHidden==true">
    <section class="master_containerr">
      <div class="container-fluid">       
        <div class="row">
          <div class="col-lg-12">
            <fieldset>
              <legend>Debit Note Details</legend>
              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="form-group">
                  <mat-label>Purchase Return Type</mat-label>
                  <mat-select class="form-control" [(ngModel)]="model.debitnotetype " formControlName="debitnotetype" (selectionChange)="onChangePurchaseReturnType($event.value)">
                    <mat-option value="Acceptance of Lower Rate">ACCEPTANCE OF LOWER RATE</mat-option>
                    <mat-option value="Goods Return Due To Rejection">GOODS RETURN DUE TO REJECTION</mat-option>                  
                  </mat-select>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="form-group">
                  <mat-label>Debit Note Date</mat-label>
                  <input type="date"  formControlName="debitnotedate" [(ngModel)]="currentDate" class="form-control" (change)="getDebitNoteDate($event)"/>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="form-group">
                  <mat-label>Debit Note No</mat-label>
                  <input type="text" formControlName="debitnoteno" [(ngModel)]="debitNoteSeqNo" class="form-control" readonly>
                </div>
              </div> 

              <!-- <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="form-group">
                  <mat-label>Service / Item Type</mat-label>
                  <mat-select formControlName="ser_item_type" [(ngModel)]="model.ser_item_type" class="form-control" (selectionChange)="onChangeServicesItemType($event.value)">
                    <mat-option *ngFor="let item_type of item_types" [value]="item_type">{{item_type}}</mat-option>            
                  </mat-select>
                </div>
              </div>
   
              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="form-group">
                  <mat-label>Service / Item Sub Type</mat-label>
                  <mat-select type="text" formControlName="ser_item_subtype" [(ngModel)]="model.ser_item_subtype" class="form-control" (selectionChange)="onChangeServicesItemSubType($event.value)">
                     <mat-option *ngFor="let itemSubType of itemtypes" [value]="itemSubType.item_id">{{itemSubType.item_name}}</mat-option>            
                  </mat-select>
                </div>
              </div>     -->        

              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="form-group">
                  <mat-label>Business Unit</mat-label>
                  <mat-select-autocomplete class="form-control ats"  
                  [options]="bussinessUnitList"
                  [display]="'businessunit_name'"
                  [value]="'businessunit_id'"
                  [multiple]='false'
                  (selectionChange)="onChangeBusinessUnit($event)"
                  ngDefaultControl
                  [formControl]="userForm.controls['businessunit']">
                </mat-select-autocomplete>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="form-group">
                <mat-label>Supplier Name</mat-label>
                <mat-select-autocomplete class="form-control ats"  
                [options]="supplierList"
                [display]="'bp_name'"
                [value]="'bp_Id'"
                [multiple]='false'
                ngDefaultControl
                [formControl]="userForm.controls['supplier_id']"
                (selectionChange)="onChangeSupplierName($event)">
                </mat-select-autocomplete>
              </div>
            </div>

              
              <!-- <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="form-group">
                  <mat-label>Supplier Name</mat-label>
                  <mat-select type="text" formControlName="supplier_name" [(ngModel)]="model.supplier_name" class="form-control" >
                    <mat-option value="0">-Select-</mat-option>
                  </mat-select>
                </div>
              </div> -->

              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="form-group">
                  <mat-label>Created By</mat-label>
                  <mat-select class="form-control" formControlName="created_by" [(ngModel)]="model.created_by">
                    <mat-option *ngFor="let confirmedBy of employeeNames" [value]="confirmedBy.emp_id"> {{confirmedBy.emp_name}}</mat-option>
                  </mat-select>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="form-group">
                  <mat-label>Truck No</mat-label>
                  <mat-select class="form-control" formControlName="truck_no" [(ngModel)]="model.truck_no">
                    <mat-option *ngFor="let list of vehicleList" [value]="list.vehicle_id">{{list.vehicle_no}}</mat-option>
                </mat-select>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-6 col-12" *ngIf="model.debitnotetype  == 'Goods Return Due To Rejection'">
                <div class="form-group">
                  <mat-label>Ref Return Note</mat-label>
                  <button class="btn btn-success" type="submit" (click)="openPurchaseRetNotePopUp()">Purchase Return Note</button>
                </div> 
              </div>

              <div class="col-lg-3 col-md-4 col-sm-6 col-12" *ngIf="model.debitnotetype  == 'Acceptance of Lower Rate'">
                <div class="form-group">
                  <mat-label>Ref Return Note</mat-label>
                  <button class="btn btn-success" type="submit" (click)="openPurchaseRetApprovalPopUp()">Purchase Return Approval Note</button>
                </div>
              </div>
           
             <div class="clr"></div>              
           </fieldset>     
          </div>
        </div>
        <!--  Dynamic Start-->
  
      <div class="dyn_table_conent" style="border: none;">
        <mat-tab-group animationDuration="1000ms">
          <mat-tab label="Service / Item Details">
            <div class="dyn_table_conent">
              <div class="dyn_table_header">
                <label class="label_col"><h3>Action</h3></label>
                <label class="label_col"><h3 class="srln">Srl No</h3></label>
                <label class="label_col"><h3 class="i_nam">Advice Item Name</h3></label>
                <label class="label_col"><h3 class="i_nam">Advice Packing Item</h3></label>
                <label class="label_col"><h3>Passed Packing Qty</h3></label> 
                <label class="label_col"><h3>Passed Packing UOM</h3></label>
                <label class="label_col"><h3>Passed Item Qty</h3></label>
                <label class="label_col"><h3>Passed Mat Weight</h3></label>
                <label class="label_col"><h3>Passed Item UOM</h3></label>
                <label class="label_col"><h3>Unit Rate</h3></label>
                <label class="label_col"><h3>Price Based on</h3></label>
                <label class="label_col"><h3>Amount</h3></label>
                <label class="label_col"><h3>Disocunt</h3></label>
                <label class="label_col"><h3>Discount based on</h3></label>
                <label class="label_col"><h3>Disocunt Amount</h3></label>
                <label class="label_col"><h3>Net Amount</h3></label> 
                <label class="label_col"><h3>QC Deduction</h3></label> 
                <label class="label_col"><h3>Net Amount After QC</h3></label> 
                <label class="label_col"><h3>Tax Code</h3></label>
                <label class="label_col"><h3>Tax Rate</h3></label>
                <label class="label_col"><h3>Tax Amount</h3></label>  
                <label class="label_col"><h3>Gross Amount</h3></label>
                <label class="label_col"><h3>Gl Account</h3></label>   
              </div>
              <div class="dyn_table_data_cont" formArrayName="pur_debit_note_item_details">
                <div class="dyn_table" *ngFor="let item of pur_debit_note_item_details.controls; let pointIndex=index" [formGroupName]="pointIndex">
                  <div class="label_col"><i class="fa fa-trash form-control action" (click)="deleteItem(pointIndex)"></i> </div>
                  <div class="label_col"><input class="form-control srln" type="number" formControlName="slno" /></div>
                 
                  <div class="label_col"><select formControlName="adv_item_code"  class="form-control i_nam" (change)="onchangeItemName(pointIndex, $event)"><option value="0">-Select-</option><option *ngFor="let item_name of item_codes" [value]="item_name.item_id">{{item_name.item_name}}</option></select></div>
                  <div class="label_col"><select formControlName="adv_packing_item" class="form-control i_nam" (change)="onchangePackingItem(pointIndex, $event)"><option value="0">-Select-</option><option *ngFor="let packingitm of packingItem[pointIndex]" [value]="packingitm.item_code">{{packingitm.item_name}}</option></select></div>                       
                  <div class="label_col"><input class="form-control" type="number" formControlName="passed_packing_qty" /></div>          
                  <div class="label_col"><input class="form-control" type="text" formControlName="passed_packing_uom" /></div>
                  <div class="label_col"><input class="form-control" type="number" formControlName="passed_item_qty" /></div>                
                  <div class="label_col"><input class="form-control" type="number" formControlName="passed_mat_weight" /></div>
                  <div class="label_col"><input class="form-control" type="text" formControlName="passed_item_uom" /></div>
                  <div class="label_col"><input class="form-control" type="text" formControlName="unit_rate" /></div>
                  <div class="label_col"><select class="form-control" formControlName="price_based_on" >
                    <option value="0">-Select-</option>
                    <optgroup label="Packing">
                      <option value="Packing">PACKING</option>
                    </optgroup>
                    <optgroup label="Item">
                      <option value="With Packing">WITH PACKING</option>
                      <option value="Without Packing">WITHOUT PACKING</option>
                    </optgroup>
                  </select></div>

                  <div class="label_col"><input class="form-control" type="number" formControlName="amount" /></div>
                  <div class="label_col"><input class="form-control" type="number" formControlName="discount" /></div>  
                  <div class="label_col"><select class="form-control" formControlName="discount_basedon" type="text">
                    <option value="0">-Select-</option>
                    <option value="Uom">Uom</option>
                    <option value="%">%</option>
                  </select></div>
                  <div class="label_col"><input class="form-control" type="number" formControlName="discount_amount" /></div>
                  <div class="label_col"><input class="form-control" type="number" formControlName="net_amount" /></div>
                  <div class="label_col"><input class="form-control" type="number" formControlName="qc_deduction" /></div>
                  <div class="label_col"><input class="form-control" type="number" formControlName="net_amt_after_qc" /></div>
                  <div class="label_col"><input class="form-control" type="text" formControlName="tax_code" /><i class="fa fa-external-link tax_insert_icon"  aria-hidden="true"></i></div>
                  <div class="label_col"><input class="form-control" type="number" formControlName="tax_rate"/></div>
                  <div class="label_col"><input class="form-control" type="number" formControlName="tax_amt" /></div>
                  <div class="label_col"><input class="form-control" type="number" formControlName="gross_amt" /></div>
                  <div class="label_col"><select formControlName="gl_acc" class="form-control"><option *ngFor="let list of ledgerNames" [value]="list.ledgerid">{{list.ledgername}}</option></select></div>
                </div>
              </div>
            </div>
            <div class="btm_btn_content"  >
              <button type="button" (click)="addItem()" class="btn btn-success">Add Row </button>
              <div class="clr"></div>
            </div>
          </mat-tab>

            <mat-tab label="Muster Roll">
              <div class="col-lg-8 col-md-8 col-sm-6 col-12">
                <div class="dyn_table_conent">
                  <div class="dyn_table_header">
                    <label class="label_col"><h3 class="pt_10">Action</h3></label>
                    <label class="label_col"><h3 class="wdt_220 pt_10">Muster Roll Name</h3></label>
                    <label class="label_col"><h3 class="wdt_220 pt_10">Muster Roll Upload</h3></label>
                  </div>           
                  <div class="dyn_table_data_cont" formArrayName="pur_debit_note_musterroll_details">
                    <div class="dyn_table" *ngFor="let item of pur_debit_note_musterroll_details.controls; let pointIndex=index" [formGroupName]="pointIndex">
                      <div class="label_col"><i class="fa fa-trash form-control action" (click)="deleteMusterRoll(pointIndex)"></i> </div>
                      <div class="label_col"><input formControlName="muster_roll_name" class="form-control wdt_215" type="text" /></div>
                      <div class="label_col"><input class="form-control wdt_215" type="file" /></div>
                    </div>
                  </div>
                </div>
                              
                <div class="btm_btn_content"  >
                  <button type="button" (click)="addMusterRoll(pointIndex)" class="btn btn-success">Add </button>
                </div>
              </div>   
          </mat-tab>
 
            <mat-tab label="Tax Information">
              <div formGroupName="pur_debit_note_tax_info">
              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="form-group">
                  <mat-label>PAN No.</mat-label>
                  <input type="text" formControlName="pan" class="form-control">
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="form-group">
                  <mat-label>GST No.</mat-label>
                  <input type="text" formControlName="gst" class="form-control">
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="form-group">
                  <mat-label>CIN No.</mat-label>
                  <input type="text" formControlName="cin" class="form-control">
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="form-group">
                  <mat-label>TAN No.</mat-label>
                  <input type="text" formControlName="tan" class="form-control">
                </div>
              </div>
              </div>
            </mat-tab>

            <mat-tab label="Broker Details">
              <div class="dyn_table_conent">
                <div class="dyn_table_header">
                  <label class="label_col"><h3>Action</h3></label>
                  <label class="label_col"><h3 class="srln">Srl No</h3></label>
                  <label class="label_col"><h3 class="i_nam">Broker Name</h3></label>
                  <label class="label_col"><h3>Brokerage Amount</h3></label>
                  <label class="label_col"><h3>Broker Other Info.</h3></label>
                  <label class="label_col"><h3>Up Brokerage Amount</h3></label>
                  <label class="label_col"><h3>Total Brokerage</h3></label>
                </div>
               
                <div class="dyn_table_data_cont" formArrayName="pur_debit_note_broker_details">
                  <div class="dyn_table" *ngFor="let item of pur_debit_note_broker_details.controls; let pointIndex=index"  [formGroupName]="pointIndex">
                    <div class="label_col"><i class="fa fa-trash form-control action" (click)="deleteBroker(pointIndex)"></i>  </div>
                    <div class="label_col"><input formControlName="sl_no" class="form-control srln" /></div>
                    <div class="label_col"><select type="text" class="form-control i_nam" formControlName="broker_name">
                      <option value="0">-Select-</option>
                      <option *ngFor="let list of brokerNameList" [value]="list.ven_code_name">{{list.ven_name}}</option>
                      </select>
                    </div>
                
                    <div class="label_col"><input type="number" formControlName="brokerage_amt" class="form-control" /></div>
                    <div class="label_col"><input formControlName="broker_other_info" class="form-control" type="text" /> </div>
                    <div class="label_col"><input formControlName="up_brokerage_amt" class="form-control" min="0" type="number"/> </div>
                    <div class="label_col"><input formControlName="total_brokerage" class="form-control" type="text"/> </div>
                   
                  </div>
                </div>
              </div>
              <div class="btm_btn_content"  >
                <button type="button" class="btn btn-success" (click)="addBroker(pointIndex)">Add Row
                </button>
                <div class="clr"></div>
              </div>
            </mat-tab>

            <mat-tab label="Business Partner Details">
              <fieldset>
                <legend>Supplier Information</legend>
                <div formGroupName="pur_debit_note_bp_details">

                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                  <div class="form-group">
                    <mat-label>Name</mat-label>
                    <mat-select type="text" formControlName="supp_name"  class="form-control" (selectionChange)="onChangeSuppInfoName($event.value)">
                      <mat-option>-Select-</mat-option>
                      <mat-option *ngFor="let list of contAddrs" [value]="list.contact_person">{{list.contact_person}}</mat-option>
                    </mat-select>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                  <div class="form-group">
                    <mat-label>Phone No.</mat-label>
                    <input type="number" formControlName="supp_phone" class="form-control">
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                  <div class="form-group">
                    <mat-label>Fax</mat-label>
                    <input type="number" formControlName="supp_fax" min="0" class="form-control">
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                  <div class="form-group">
                    <mat-label>E-Mail</mat-label>
                    <input type="email" formControlName="supp_email" class="form-control">
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="form-group">
                    <mat-label>Address</mat-label>
                    <textarea class="form-control" formControlName="supp_address" rows="1" cols="20"></textarea>
                  </div>
                </div>
                </div>
              </fieldset>

              <fieldset>
                <legend>Contact Person Information</legend>
                <div formGroupName="pur_debit_note_bp_details">

                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                  <div class="form-group">
                    <mat-label>Name</mat-label>
                   <mat-select type="text" formControlName="cp_name" class="form-control" (selectionChange)="onChangeContInfoName($event.value)">
                        <mat-option value = "0">-Select-</mat-option>
                        <mat-option *ngFor="let list of delvAddrs" [value]="list.contact_person">{{list.contact_person}}</mat-option>
                      </mat-select>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                  <div class="form-group">
                    <mat-label>Designation</mat-label>
                    <input formControlName="cp_designation" type="text" class="form-control">
                  </div>
                </div>
                
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                  <div class="form-group">
                    <mat-label>Phone</mat-label>
                    <input formControlName="cp_phone" type="number" min="0" class="form-control">
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                  <div class="form-group">
                    <mat-label>Fax</mat-label>
                    <input type="number" formControlName="cp_fax" min="0" class="form-control">
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                  <div class="form-group">
                    <mat-label>E-Mail</mat-label>
                    <input formControlName="cp_email" type="email" class="form-control">
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="form-group">
                    <mat-label>Address</mat-label>
                    <textarea formControlName="cp_address" class="form-control" rows="1" cols="20"></textarea>
                  </div>
                </div>
                </div>
              </fieldset>

              <fieldset>
                <legend>Payment</legend>
                <div formGroupName="pur_debit_note_account_info">
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                  <div class="form-group">
                    <mat-label>Mode of Payment</mat-label>
                    <mat-select formControlName="mode_of_pay"  class="form-control">
                      <mat-option value="0">-select-</mat-option>
                    </mat-select>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                  <div class="form-group">
                    <mat-label>Pay Term</mat-label>
                    <input formControlName="pay_term" type="text" class="form-control">
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                  <div class="form-group">
                    <mat-label>Credit Limit</mat-label>
                    <input formControlName="credit_lim" type="number" min="0" class="form-control">
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                  <div class="form-group">
                    <mat-label>Bank Name</mat-label>
                    <input formControlName="bankname" type="text" min="0" class="form-control">
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                  <div class="form-group">
                    <mat-label>Account Holder Name</mat-label>
                    <input formControlName="accountholder" type="text" class="form-control">
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                  <div class="form-group">
                    <mat-label>Account No.</mat-label>
                    <input formControlName="acc_no" type="number" class="form-control">
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                  <div class="form-group">
                    <mat-label>Ifsc Code</mat-label>
                    <input formControlName="ifsc" type="text" class="form-control">
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                  <div class="form-group">
                    <mat-label>Mobile No.</mat-label>
                    <input formControlName="mobile" type="text" class="form-control">
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                  <div class="form-group">
                    <mat-label>Iban</mat-label>
                    <input formControlName="iban" type="text" class="form-control">
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                  <div class="form-group">
                    <mat-label>Bis Swift Code</mat-label>
                    <input formControlName="bic_swift_code" type="text" class="form-control">
                  </div>
                </div>
              
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                  <div class="form-group">
                    <mat-label>Branch</mat-label>
                    <input formControlName="branch" type="text" class="form-control">
                  </div>
                </div>
                 </div>     
              </fieldset>
            </mat-tab>
            <mat-tab label="Remarks">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12 dnmk">
                <div class="form-group">
                  <mat-label>Remarks</mat-label>
                  <textarea class="form-control" formControlName="remarks" [(ngModel)]="model.remarks" rows="1" cols="20"></textarea>
                </div>
              </div>
            </mat-tab>
           
            <mat-tab label="Document Attachment">
              <div class="col-lg-8 col-md-8 col-sm-6 col-12">
                <div class="dyn_table_conent" style="float: left;">
                  <div class="dyn_table_header">
                    <label class="label_col"><h3>Action</h3></label>
                    <label class="label_col"><h3>Document Name</h3></label>
                    <label class="label_col"><h3 class="wdt_220">Document Upload</h3></label>
                  </div>
                  <div class="dyn_table_data_cont" formArrayName="pur_debit_note_docs">
                    <div class="dyn_table" *ngFor="let item of pur_debit_note_docs.controls; let pointIndex=index" [formGroupName]="pointIndex">
                      <div class="label_col"><i class="fa fa-trash form-control action" (click)="deleteDocument(pointIndex)"></i></div>
                      <div class="label_col"><input formControlName="doc_name" class="form-control" type="text" /></div>
                      <div class="label_col"><input class="form-control wdt_215" type="file" /></div>
                    </div>
                  </div>
                </div>
  
                <div class="btm_btn_content" >
                  <button type="button" class="btn btn-success" (click)="addDocument(pointIndex)">Add </button>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                <fieldset>
                  <legend>Document List</legend>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="form-group">
                      <textarea class="form-control" rows="1"></textarea>
                    </div>
                  </div>
                </fieldset>
              </div>
            </mat-tab>
  
          </mat-tab-group>
        </div>

        <div class="clr"></div>
            <div class="row" *ngIf="isHidden==true">
                <div class="table_container">
                  <div class="table_content">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th style="width: 50px;">Srl No</th>
                          <th>Description</th>
                          <th style="width: 150px;">Amount</th>
                          <th>GL Ac</th>
                          <th>Details</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>Item Total</td>
                          <td><input class="form-control" formControlName="item_total" [(ngModel)]="model.item_total" type="number" placeholder="0.00" readonly/></td>
                         <td>
                              <mat-select-autocomplete class="form-control"  
                              [options]="ledgerNames"
                              [display]="'ledgername'"
                              [value]="'ledgerid'"
                              [multiple]='false'
                              ngDefaultControl
                              [formControl]="userForm.controls['item_total_gl_ac']"
                              [labelCount]="2">
                            </mat-select-autocomplete>                     
                        </td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>Discount Total</td>
                          <td><input class="form-control" formControlName="discount" [(ngModel)]="model.discount" type="number" placeholder="0.00" readonly/></td>
                          <td>
                            <mat-select-autocomplete class="form-control"  
                            [options]="ledgerNames"
                            [display]="'ledgername'"
                            [value]="'ledgerid'"
                            [multiple]='false'
                            ngDefaultControl
                            [formControl]="userForm.controls['discount_gl_ac']"
                            [labelCount]="2">
                          </mat-select-autocomplete>
                        
                      </td>
                          <td></td>
                        </tr>

                        <tr>
                          <td>3</td>
                          <td>Net Amount</td>
                          <td><input class="form-control" formControlName="net_amt" [(ngModel)]="model.net_amt" type="number" placeholder="0.00" readonly/></td>
                          <td>
                            <mat-select-autocomplete class="form-control"  
                            [options]="ledgerNames"
                            [display]="'ledgername'"
                            [value]="'ledgerid'"
                            [multiple]='false'
                            ngDefaultControl
                            [formControl]="userForm.controls['net_amt_gl_ac']"
                            [labelCount]="2">
                          </mat-select-autocomplete>
                        
                      </td>
                          <td></td>
                        </tr>

                        <tr>
                          <td>4</td>
                          <td>Qc Deduction</td>
                          <td><input class="form-control" formControlName="qc_deduction" [(ngModel)]="model.qc_deduction" type="number" placeholder="0.00" readonly/></td>
                          <td>
                            <mat-select-autocomplete class="form-control"  
                            [options]="ledgerNames"
                            [display]="'ledgername'"
                            [value]="'ledgerid'"
                            [multiple]='false'
                            ngDefaultControl
                            [formControl]="userForm.controls['qc_deduction_gl_ac']"
                            [labelCount]="2">
                          </mat-select-autocomplete>
                        
                      </td>
                          <td></td>
                        </tr>

                        <tr>
                          <td>5</td>
                          <td>Amount After Deduction</td>
                          <td><input class="form-control" formControlName="amt_after_deduction" [(ngModel)]="model.amt_after_deduction" type="number" placeholder="0.00" readonly/></td>
                          <td>
                            <mat-select-autocomplete class="form-control"  
                            [options]="ledgerNames"
                            [display]="'ledgername'"
                            [value]="'ledgerid'"
                            [multiple]='false'
                            ngDefaultControl
                            [formControl]="userForm.controls['amt_after_deduction_gl_ac']"
                            [labelCount]="2">
                          </mat-select-autocomplete>
                        
                      </td>
                          <td></td>
                        </tr>

                        <tr>
                          <td>6</td>
                          <td>Add Tax</td>
                          <td><input class="form-control" formControlName="add_tax" [(ngModel)]="model.add_tax" type="number" placeholder="0.00" readonly/></td>
                          <td>
                            <mat-select-autocomplete class="form-control"  
                            [options]="ledgerNames"
                            [display]="'ledgername'"
                            [value]="'ledgerid'"
                            [multiple]='false'
                            ngDefaultControl
                            [formControl]="userForm.controls['add_tax_gl_ac']"
                            [labelCount]="2">
                          </mat-select-autocomplete>                     
                      </td>
                          <td></td>
                        </tr>

                        <tr>
                          <td>7</td>
                          <td>Post Tax Amount</td>
                          <td><input class="form-control" formControlName="post_tax_amt" [(ngModel)]="model.post_tax_amt" type="number" placeholder="0.00" readonly/></td>
                          <td>
                            <mat-select-autocomplete class="form-control"  
                            [options]="ledgerNames"
                            [display]="'ledgername'"
                            [value]="'ledgerid'"
                            [multiple]='false'
                            ngDefaultControl
                            [formControl]="userForm.controls['post_tax_amt_gl_ac']"
                            [labelCount]="2">
                          </mat-select-autocomplete>
                        
                      </td>
                          <td></td>
                        </tr>

                        <tr>
                          <td>8</td>
                          <td>Other Charges</td>
                          <td><input class="form-control" formControlName="other_charges" [(ngModel)]="model.other_charges" type="number" value={{defaultValue}} (keyup)="getOtherCharges($event)"/></td>
                          <td>
                            <mat-select-autocomplete class="form-control"  
                            [options]="ledgerNames"
                            [display]="'ledgername'"
                            [value]="'ledgerid'"
                            [multiple]='false'
                            ngDefaultControl
                            [formControl]="userForm.controls['other_charges_gl_ac']"
                            [labelCount]="2">
                          </mat-select-autocomplete>
                        
                      </td>
                          <td></td>
                        </tr>

                        <tr>
                          <td>9</td>
                          <td>Payable Amount</td>
                          <td><input class="form-control" formControlName="payable_amt" [(ngModel)]="model.payable_amt" type="number" placeholder="0.00" readonly/></td>
                          <td>
                            <mat-select-autocomplete class="form-control"  
                            [options]="ledgerNames"
                            [display]="'ledgername'"
                            [value]="'ledgerid'"
                            [multiple]='false'
                            ngDefaultControl
                            [formControl]="userForm.controls['payable_amt_gl_ac']"
                            [labelCount]="2">
                          </mat-select-autocomplete>
                        
                      </td>
                        </tr>
                        
                        <tr>
                          <td>10</td>
                          <td>Add(+)</td>
                          <td><input class="form-control" formControlName="add1" [(ngModel)]="model.add1" type="number" value={{defaultValue}} (keyup)="getAddAmt($event)"/></td>
                          <td>
                            <mat-select-autocomplete class="form-control"  
                            [options]="ledgerNames"
                            [display]="'ledgername'"
                            [value]="'ledgerid'"
                            [multiple]='false'
                            ngDefaultControl
                            [formControl]="userForm.controls['add1_gl_ac']"
                            [labelCount]="2">
                          </mat-select-autocomplete>
                        
                      </td>
                        </tr>

                        <tr>
                          <td>11</td>
                          <td>Add(-)</td>
                          <td><input class="form-control" formControlName="add2" [(ngModel)]="model.add2" type="number" value={{defaultValue}} (keyup)="getSubAmt($event)"/></td>
                          <td>
                            <mat-select-autocomplete class="form-control"  
                            [options]="ledgerNames"
                            [display]="'ledgername'"
                            [value]="'ledgerid'"
                            [multiple]='false'
                            ngDefaultControl
                            [formControl]="userForm.controls['add2_gl_ac']"
                            [labelCount]="2">
                          </mat-select-autocomplete>
                        
                      </td>
                        </tr>

                        <tr>
                          <td>12</td>
                          <td>Rounded Off</td>
                          <td><input class="form-control" formControlName="roundoff_amt" [(ngModel)]="model.roundoff_amt" type="number" placeholder="0.00" readonly/></td>
                          <td>
                            <mat-select-autocomplete class="form-control"  
                            [options]="ledgerNames"
                            [display]="'ledgername'"
                            [value]="'ledgerid'"
                            [multiple]='false'
                            ngDefaultControl
                            [formControl]="userForm.controls['roundoff_gl_ac']"
                            [labelCount]="2">
                          </mat-select-autocomplete>
                        
                      </td>
                          <td></td>
                        </tr>

                        <tr>
                          <td>13</td>
                          <td>Payable To Party</td>
                          <td><input class="form-control" formControlName="payable_party" [(ngModel)]="model.payable_party" type="number" placeholder="0.00" readonly/></td>
                          <td>
                            <mat-select-autocomplete class="form-control"  
                            [options]="ledgerNames"
                            [display]="'ledgername'"
                            [value]="'ledgerid'"
                            [multiple]='false'
                            ngDefaultControl
                            [formControl]="userForm.controls['payable_party_gl_ac']"
                            [labelCount]="2">
                          </mat-select-autocomplete>
                        
                      </td>
                          <td></td>
                        </tr>

                        <tr>
                          <td>14</td>
                          <td>Already Paid</td>
                          <td><input class="form-control" formControlName="already_paid" [(ngModel)]="model.already_paid" type="number" value={{defaultValue}} (keyup)="getAlreadyPaidAmt($event)"/></td>
                          <td>
                            <mat-select-autocomplete class="form-control"  
                            [options]="ledgerNames"
                            [display]="'ledgername'"
                            [value]="'ledgerid'"
                            [multiple]='false'
                            ngDefaultControl
                            [formControl]="userForm.controls['already_paid_gl_ac']"
                            [labelCount]="2">
                          </mat-select-autocomplete>
                        
                      </td>
                          <td></td>
                        </tr>

                        <tr>
                          <td>15</td>
                          <td>Net Payable To Party</td>
                          <td><input class="form-control" formControlName="net_payable_party" [(ngModel)]="model.net_payable_party" type="number" placeholder="0.00" readonly/></td>
                          <td>
                            <mat-select-autocomplete class="form-control"  
                            [options]="ledgerNames"
                            [display]="'ledgername'"
                            [value]="'ledgerid'"
                            [multiple]='false'
                            ngDefaultControl
                            [formControl]="userForm.controls['net_payable_party_gl_ac']"
                            [labelCount]="2">
                          </mat-select-autocomplete>
                        
                      </td>
                          <td></td>
                        </tr>

                         <!-- <tr>
                          <td>9</td>
                          <td>Applicable Charges</td>
                          <td><input class="form-control" formControlName="app_charges" [(ngModel)]="model.app_charges" type="number" placeholder="0.00" /></td>
                          <td>
                            <mat-select-autocomplete class="form-control"  
                            [options]="ledgerNames"
                            [display]="'ledgername'"
                            [value]="'ledgerid'"
                            [multiple]='false'
                            ngDefaultControl
                            [formControl]="userForm.controls['app_charges_gl_ac']"
                            [labelCount]="2">
                          </mat-select-autocomplete>
                        
                      </td>
                          <td style="text-align: left;"><i class="fa fa-external-link tax_insert_icon" aria-hidden="true"></i></td>
                        </tr> -->

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
  
        <div class="col-lg-12"  >
          <div class="form-group">
            <button type="submit" (click)="send()" class="btn btn-primary" *ngIf="debitnotesave">Submit</button>
          </div>
        </div>
        <!--  Dynamic End-->
      </div>
    </section>
  </form>
  
  <div class="master_container_box" *ngIf="isHidden==false">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <fieldset class="table_container">
            <legend>Debit Note List</legend>
            <div class="table_content">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Debit Note No</th>
                    <th>Debit Note Date</th>
                    <th>Business Unit</th>
                    <th>Supplier</th>
                    <!-- <th>Service/Material</th>
                    <th>Item Type</th> -->
                    <th>Truck No</th> 
                    <th>Item Total</th>             
                    <th colspan="2">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let DebitNote of listDebitNote">
                    <td>{{DebitNote.debitnoteno}}</td>
                    <td>{{DebitNote.debitnotedate}}</td>
                    <td>{{DebitNote.businessunitname}}</td>
                    <td>{{DebitNote.supplier_name}}</td>
                    <!-- <td>{{DebitNote.ser_item_type}}</td>
                    <td>{{DebitNote.ser_item_subtypename}}</td> -->
                    <td>{{DebitNote.vehicleno}}</td>
                    <td>{{DebitNote.item_total}}</td>
                    <td><button class="btn btn-info" (click)="onUpdate(DebitNote.id, DebitNote.debitnoteid)" *ngIf="debitnoteupdate">Update</button></td>  
                  </tr>
                </tbody>
              </table>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div> 
  







