.wth_1{width: 120px !important; display: inline-block; height: 32px;}
.data_table .form-control{ background: #fff; border: 1px solid #ccc;}
.data_table .dyn_table .label_col:last-child{border-right: 1px solid #ccc;}
.data_table .dyn_table .label_col{padding:4px; width: 115px; text-align: center;}
.weigh .dyn_table_conent .dyn_table_header label h3 { width: 189px; height: inherit;}
.weigh .label_col .form-control{ width: 179px; margin:0 5px; border-radius: 3px; }
// .weigh .label_col{border-right:1px solid #ccc;}
// .weigh .label_col:first-child{border-left:1px solid #ccc;}
.weigh .dyn_table_conent .dyn_table_header label h3.srl_no{width: 70px;}
.weigh .label_col .form-control.srl_no{width: 60px;}
.weigh .dyn_table_conent .dyn_table_header label h3.act{width: 114px;}
.weigh .label_col .form-control.act{width: 100px;}
.weigh .dyn_table_conent{ padding: 0; margin: 0;}
.dyn_table{border-bottom: none;}

