.wth_1{width: 120px !important; display: inline-block; height: 32px;}
.data_table .form-control{ background: #fff; border: 1px solid #ccc;}
.data_table .dyn_table .label_col:last-child{border-right: 1px solid #ccc;}
.data_table .dyn_table .label_col{padding:4px; width: 115px; text-align: center;}
.mat-button {line-height: 30px !important;}
.form-group{height: 59px;}
.imageContainer > input[type=image]:hover {
    width: 500px;
    height: 200px;
  }
