.chk_tp_pad{padding-top: 35px;}
.table-striped{ margin: 0;}
.table_content{ padding: 10px;}
.table_content td input.form-control{ border: 1px solid #ccc;}
// .dyn_table{float: left;}
.btm_btn_content, .dyn_table_conent{float: left; clear: both;}
// .dyn_table_data_cont{overflow: scroll;}
label { margin-bottom: 0px;}