<section class="master_container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="button_row">
          <ul>
            <li><button mat-button class="btn btn-info" (click)="showList('add')"><i  class="material-icons">add</i>Add</button></li>
            <li><button mat-button class="btn btn-success" (click)="showList('list')"><i  class="material-icons">list</i>List</button></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="progress_loader_box" *ngIf="status == false">
  <div class="progress-loader"> <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner></div>
</div>

<form [formGroup]="userForm" *ngIf="isHidden==true">
  <section class="master_container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">

          <fieldset>
            <legend>Goods Stock Transfer</legend>

             <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="form-group">
                <mat-label>Order Point<span class="red">*</span></mat-label>
                <mat-select formControlName="order_point" [(ngModel)]="model.order_point" class="form-control" (selectionChange)="onChangeOrderPoint($event.value)">
                  <mat-option value="Inter">Inter</mat-option>
                  <mat-option value="Intra">Intra</mat-option>
                </mat-select>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="form-group">
                <mat-label>Stock Date</mat-label>
                <input formControlName="order_date" [(ngModel)]="currentDate" type="date" class="form-control" (change)="onChangeStkTransDate($event)">
              </div>
            </div>

             <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="form-group">
                <mat-label>Stock No</mat-label>
                <input formControlName="order_no" [(ngModel)]="seq_no" type="text" class="form-control" readonly/>
              </div>
            </div>
            
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="form-group">
                <mat-label>Reference Type<span class="red">*</span></mat-label>
                <mat-select formControlName="ref_type" [(ngModel)]="model.ref_type"  class="form-control">
                  <mat-option value="0">-Select-</mat-option>
                  <mat-option value="Open Stock Transfer Order">Open Stock Transfer Order</mat-option>
                  <mat-option value="Stock Indent Order">From Stock Indent</mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12" *ngIf="model.ref_type == 'Stock Indent Order'">
              <div class="form-group shs">
                <label>&nbsp;</label>
                <button class="btn btn-info" (click)=" onClickShow()">Show</button>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="form-group">
                <mat-label>Sending Business Unit<span class="red">*</span></mat-label>
                <mat-select formControlName="business_unit" (selectionChange)="onChangeBussinessUnit($event.value)" [(ngModel)]="model.business_unit" class="form-control">
                  <mat-option *ngFor="let business_unit of businesslists" [value]="business_unit.businessunit_id">{{business_unit.businessunit_name}}</mat-option>  
                </mat-select>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="form-group">
                <mat-label>Receiving Business Unit<span class="red">*</span></mat-label>
                <mat-select formControlName="delivery_business_unit" (selectionChange)="onChangeDevBussinessUnit($event.value)" [(ngModel)]="model.delivery_business_unit" class="form-control" [disabled]="model.order_point == 'Intra'">
                  <mat-option *ngFor="let business_unit of delbusinesslists" [value]="business_unit.businessunit_id">{{business_unit.businessunit_name}}</mat-option>  
                </mat-select>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="form-group">
                <mat-label>Shipment Mode<span class="red">*</span></mat-label>
                <mat-select formControlName="shipment_mode" (selectionChange)="onChangeshipment($event.value)" [(ngModel)]="model.shipment_mode" class="form-control">
                  <mat-option value="0">-Select-</mat-option>
                  <mat-option *ngFor="let list of modeOfTransport" [value]="list">{{list}}</mat-option>
                </mat-select>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-12" *ngIf="HiddenLoading_Pt">
              <div class="form-group">
                <mat-label>Loading Point<span class="red">*</span></mat-label>
                <mat-select formControlName="loading_point"  [(ngModel)]="model.loading_point" class="form-control" (selectionChange)="onChangeLoadingPoint($event.value)">
                  <mat-option value="0">-Select-</mat-option> 
                  <mat-option *ngFor="let list of loadinPointList" [value]="list.loading_id">{{list.loading_name}}</mat-option>  
                </mat-select>
              </div>
            </div>
          
            <div class="col-lg-3 col-md-4 col-sm-6 col-12" *ngIf="HiddenLoading_Pt">
              <div class="form-group">
                <mat-label>Unload Point<span class="red">*</span></mat-label>
                <mat-select formControlName="unloading_point" [(ngModel)]="model.unloading_point" class="form-control">
                  <mat-option value="0">-Select-</mat-option> 
                  <mat-option *ngFor="let list of UnloadinPointList" [value]="list.loading_id">{{list.loading_name}}</mat-option>  
                </mat-select>
              </div>
            </div>


            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="form-group">
                <mat-label>Weighment Required<span class="red">*</span></mat-label>
                <mat-select formControlName="weightment_req" [(ngModel)]="model.weightment_req" class="form-control">
                  <mat-option value="Yes">Yes</mat-option><mat-option value="No">No</mat-option>
                </mat-select>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="form-group">
                <mat-label>Tax Information<span class="red">*</span></mat-label>
                <mat-select formControlName="tax_info" [(ngModel)]="model.tax_info" class="form-control" [disabled]="!taxReadOnly" [disabled]="model.order_point == 'Intra'" (selectionChange)="onCangeTaxInfo($event.value)">
                  <mat-option value="Yes">Yes</mat-option><mat-option value="No">No</mat-option>
                </mat-select>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="form-group">
                <mat-label>Eway Bill<span class="red">*</span></mat-label>
                <mat-select formControlName="enway_bill" [(ngModel)]="model.enway_bill" type="text" class="form-control">
                  <mat-option value="Yes">Yes</mat-option><mat-option value="No">No</mat-option>
                </mat-select>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="form-group">
                <mat-label>Order status<span class="red">*</span></mat-label>
                <mat-select formControlName="order_status" [(ngModel)]="model.order_status" class="form-control">
                  <mat-option value="Pending">Pending</mat-option>
                  <mat-option value="Close">Close</mat-option>
                  <mat-option value="Finalise">Finalise</mat-option>
                </mat-select>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="form-group">
                <mat-label>Reference</mat-label>
                <input type="text" formControlName="reference" [(ngModel)]="model.reference" class="form-control">
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="form-group">
                <mat-label>Billing Required<span class="red">*</span></mat-label>
                <mat-select formControlName="billing_req" [(ngModel)]="model.billing_req" class="form-control">
                  <mat-option value="Yes">Yes</mat-option>
                  <mat-option value="No">No</mat-option>
                </mat-select>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="form-group">
                <mat-label>Passing Weight<span class="red">*</span></mat-label>
                <mat-select formControlName="passing_wt" [(ngModel)]="model.passing_wt" class="form-control">
                  <mat-option value="Supplied WT">Supplied WT</mat-option>
                  <mat-option value="Receiving WT">Receiving WT</mat-option>
                  <mat-option value="Lower of Both">Lower of Both</mat-option>
                </mat-select>
              </div>
            </div>
            
          </fieldset>
        </div>
      </div>

      <!--  Dynamic Start-->
    <div class="weigh_n">
      <div class="dyn_table_conent" style="border: none;">
        <mat-tab-group animationDuration="1000ms" (selectedTabChange)="onChangeMatTab($event)">
          <mat-tab label="Item details">
            <div class="dyn_table_conent" style="border: none;">
              <div class="dyn_table_header">
                <label class="label_col"><h3 class="act">Action</h3></label>
                <label class="label_col"><h3 class="srln">Srl No</h3> </label>
                <label class="label_col"><h3 class=" i_nam">Item<span class="red">*</span></h3></label>
                <label class="label_col"><h3 class=" i_nam">Packing<span class="red">*</span></h3></label>
                <label class="label_col"><h3>Packing Qty.<span class="red">*</span></h3></label>
                <label class="label_col"><h3>Packing Uom</h3></label>
                <label class="label_col"><h3>Item Qty.<span class="red">*</span></h3></label>
                <label class="label_col"><h3>Item Uom</h3></label>
                <label class="label_col"><h3>Mat.Wt</h3></label>
                <label class="label_col"><h3>Price<span class="red">*</span></h3></label>
                <label class="label_col"><h3>Price Based On<span class="red">*</span></h3></label>
                <label class="label_col"><h3>Amount</h3></label>
                <label class="label_col"><h3>Gross Amount</h3></label>
                <label class="label_col"><h3>Tax Id</h3></label>
                <label class="label_col"><h3>Tax Rate(%)</h3></label>
                <label class="label_col"><h3>Tax Amount</h3></label>
                <label class="label_col"><h3>Net Amount</h3></label>
                <label class="label_col"><h3>QC</h3></label>
                <label class="label_col"><h3>Remarks</h3></label>
                <label class="label_col"><h3>WearHouse Name</h3></label>
                <label class="label_col"><h3>Stack / Rack No</h3> </label>
              </div>
              <div  class="dyn_table_data_cont" formArrayName="stock_Transfer_Item_Dtls">
                <div class="dyn_table" *ngFor="let item of stock_Transfer_Item_Dtls.controls; let pointIndex=index" [formGroupName]="pointIndex">
                  <div class="label_col"><i class="fa fa-trash form-control action" (click)="deleteItem(pointIndex)"></i></div>
                  <div class="label_col"><input formControlName="slno" class="form-control srln" type="number"/></div>
                  <div class="label_col"><select formControlName="item_code" class="form-control i_nam"(change)="onChangeItemName(pointIndex,$event)"><option value="0">-Select-</option><option *ngFor="let item_code of item_codes" [value]="item_code.item_id">{{item_code.item_name}}</option></select></div>
                  <div class="label_col"><select formControlName="packing" type="text" class="form-control i_nam"(change)="onChangePackingItem(pointIndex,$event)"><option value="0">-Select-</option><option *ngFor="let packingitm of packingItem[pointIndex]" [value]="packingitm.item_code">{{packingitm.item_name}}</option></select></div>
                  <div class="label_col"><input class="form-control" formControlName="squantity" type="number" (keyup)="calItemQty($event, pointIndex)"/></div>
                  <div class="label_col"><input formControlName="suom" class="form-control" type="text"></div>
                  <div class="label_col"><input formControlName="quantity" class="form-control" type="number" /></div>
                  <div class="label_col"><input formControlName="uom" class="form-control" type="text"></div>
                  <div class="label_col"><input formControlName="mat_wt" class="form-control" type="number" /></div>
                  <div class="label_col"><input formControlName="price" class="form-control" type="number" /></div>
                  <div class="label_col"><select class="form-control" formControlName="price_based_on" (change)="onChangePriceBasedOn($event, pointIndex)"><option value="Packing">Packing</option><option value="Item">Item</option></select></div>
                  <div class="label_col"><input formControlName="amount" class="form-control" type="number" /></div>
                  <div class="label_col"><input formControlName="gross_amt" class="form-control" type="number" /></div>
                  <div class="label_col"><input class="form-control" formControlName="tax_id" type="text" /><i class="fa fa-external-link tax_insert_icon" (click)="showPopUp(pointIndex)" aria-hidden="true"></i></div>
                  <div class="label_col"><input formControlName="tax_rate" class="form-control" type="number" readonly/></div>
                  <div class="label_col"><input formControlName="tax_amt" class="form-control" type="number" readonly/></div>
                  <div class="label_col"><input formControlName="net_amt" class="form-control" type="number" /></div>
                  <div class="label_col"><input class="form-control" formControlName="acc_norms" type="text" /><i class="fa fa-external-link tax_insert_icon" (click)="showPopUp2(pointIndex)" aria-hidden="true"></i></div>
                  <div class="label_col"><input formControlName="remarks" class="form-control" type="text" /></div>
                  <div class="label_col"><mat-select class="form-control" formControlName="warehouse" (selectionChange)="onChangeWarehouse($event.value, pointIndex)"><mat-option value="0">-Select-</mat-option><mat-option *ngFor="let warehouse of warehouses" [value]="warehouse.warehouse_code">{{warehouse.warehouse_name}}</mat-option></mat-select></div>
                  <div class="label_col"><select class="form-control wdt_115_s" type="text" formControlName="rack"><option value="0">-select-</option><option *ngFor="let stack of stackList[pointIndex]" [value]="stack.bin_code">{{stack.bin_description}}</option></select></div>
                  <div class="label_col" ><input class="form-control" formControlName="cgst_amt" type="hidden"/></div>
                  <div class="label_col" ><input class="form-control" formControlName="sgst_amt" type="hidden"/></div>
                  <div class="label_col" ><input class="form-control" formControlName="igst_amt" type="hidden"/></div>
                </div>
              </div>
            </div>
            <div class="btm_btn_content" *ngIf="model.ref_type != 'Stock Indent Order'">
              <button type="button" class="btn btn-success" (click)="addItem()">Add Row </button>
              <div class="clr"></div>
            </div>
          </mat-tab>
        
          <mat-tab label="Transport Information">
            <div formGroupName="stock_Transfer_Trans_Info">

              <div class="col-lg-2 col-md-2 col-sm-6 col-12">
                <div class="form-group">
                  <mat-label>Mode Of Transport</mat-label>
                   <mat-select formControlName="mode_of_trans" class="form-control">
                    <mat-option value="0">-Select-</mat-option>
                    <mat-option *ngFor="let mode_of_trans of modeOfTransport" [value]="mode_of_trans">{{mode_of_trans}}</mat-option>
                  </mat-select>
                </div>
              </div>

              <div class="col-lg-2 col-md-2 col-sm-6 col-12">
                <div class="form-group">
                  <mat-label>Transporter Name</mat-label>
                  <mat-select class="form-control"  formControlName="trans_code" >
                    <mat-option value="0">-Select-</mat-option>
                    <mat-option *ngFor="let trans_code of trans_codes" [value]="trans_code.bp_Id">{{trans_code.bp_name}}</mat-option>
                  </mat-select>
                </div>
              </div>

              <div class="col-lg-2 col-md-2 col-sm-6 col-12">
                <div class="form-group">
                  <mat-label>Payment Term</mat-label>
                  <mat-select class="form-control"  formControlName="payment_term" >
                    <mat-option value="0">-Select-</mat-option>
                    <mat-option *ngFor="let list of paymentTermsList" [value]="list.payterm_id">{{list.payterm_desc}}</mat-option>
                  </mat-select>
                </div>
              </div>

              <div class="col-lg-2 col-md-2 col-sm-6 col-12">
                <div class="form-group">
                  <mat-label>Charge Code</mat-label>
                  <div style="position: relative; display: table;">
                    <input class="form-control with-primary-addon" formControlName="charge_code" type="text" >
                    <span class="input-group-addon input-group-addon-primary addon-left"><i class="fa fa-external-link tax_insert_icon" aria-hidden="true"></i></span>
                  </div>
                </div>
              </div>


            </div>
          </mat-tab>

          <mat-tab label="Summary">

            <fieldset>
              <legend>Amount Calculation</legend>

              <div formGroupName="stock_Transfer_Summary">
              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="form-group">
                  <mat-label>Item Total</mat-label>
                    <input class="form-control" readonly type="number" formControlName="item_total" />
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="form-group">
                  <mat-label>Discount</mat-label>
                  <input  class="form-control" type="number" formControlName="discount" />
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="form-group">
                  <mat-label>Tax Total</mat-label>
                  <input  class="form-control" type="number" formControlName="tax_total" readonly/>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="form-group">
                  <mat-label>Net Amount</mat-label>
                    <input  class="form-control" readonly type="number" formControlName="net_amount" />
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-6 col-12" *ngIf="false">
                <div class="form-group">
                  <mat-label>Applicable Brokerage</mat-label>
                  <input type="number" formControlName="app_brokerage" class="form-control">
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="form-group">
                  <mat-label>Net R Value.</mat-label>
                  <input type="number" readonly formControlName="net_r_value" class="form-control" />
                </div>
              </div>
            </div>  
          </fieldset>

            <fieldset>
              <legend>Applicable Charges</legend>

              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="form-group">
                  <mat-label for="Payment Mode">Applicable Charges</mat-label>
                  <mat-select class="form-control" formControlName="app_chgs_id" [(ngModel)]="model.app_chgs_id" (selectionChange)="onChangeApplicableCharges($event.value)" >
                    <mat-option value="0">-Select Id-</mat-option><mat-option *ngFor="let list of chargesIdList" [value]="list.charge_id">{{list.charge_desc}}</mat-option>
                  </mat-select>
                </div>
              </div>
              
              <div class="col-lg-12">
                  <div class="dyn_table_conent">
                    <div class="dyn_table_header">
                      <label class="label_col"><h3>Action</h3></label>
                      <label class="label_col"><h3 class="wdt_fst">Charges Name</h3></label>
                      <label class="label_col"><h3 class="wdt_130">Rate Calculation Method</h3></label>
                      <label class="label_col"><h3>Tax Rate(%)</h3></label>
                      <label class="label_col"><h3>Amount</h3></label>
                    </div>
  
                    <div class="dyn_table_data_cont" formArrayName="stock_Transfer_Summary_dyn">
                      <div class="dyn_table" *ngFor="let item of stock_Transfer_Summary_dyn.controls; let pointIndex=index" [formGroupName]="pointIndex">
                        <div class="label_col"><i class="fa fa-trash form-control action" (click)="deletesummarydyn(pointIndex)"></i></div>
                        <div class="label_col"><input formControlName="charge_name" class="form-control" type="text"/></div>
                        <div class="label_col"><input type="text" class="form-control  wdt_130_s" formControlName="rate_cal_method"></div>
                        <div class="label_col"><input type="text" class="form-control" formControlName="tax_rate"></div>
                        <div class="label_col"><input class="form-control" formControlName="amount" min="0" type="number" /></div>
                      </div>
                    </div>
                 </div>
              </div>
            </fieldset>
          </mat-tab>

          <mat-tab label="Resource Cost">
            <fieldset>
              <legend>Applicable Charges</legend>
              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="form-group">
                  <mat-label for="Payment Mode">Applicable Charges</mat-label>
                  <mat-select class="form-control" formControlName="applicable_charges_id" [(ngModel)]="model.applicable_charges_id" (selectionChange)="onChangeApplicable($event.value)" >
                    <mat-option *ngFor="let list of AppchargeList" [value]="list.charge_id">{{list.charge_desc}}</mat-option>
                  </mat-select>
                </div>
              </div>
              
              <div class="col-lg-12">
                  <div class="dyn_table_conent">
                    <div class="dyn_table_header">
                      <label class="label_col"><h3>Action</h3></label>
                      <label class="label_col"><h3 class="wdt_fst">Charges Name</h3></label>
                      <label class="label_col"><h3 class="wdt_130">Rate Calculation Method</h3></label>
                      <label class="label_col"><h3>Amount</h3></label>
                      <label class="label_col"><h3>Tax Rate(%)</h3></label>
                      <label class="label_col"><h3>Tax Amt</h3></label>
                      <label class="label_col"><h3>Gross Amt</h3></label>
                    </div>
  
                    <div class="dyn_table_data_cont" formArrayName="stock_transfer_resource_cost">
                      <div class="dyn_table" *ngFor="let item of stock_transfer_resource_cost.controls; let pointIndex=index" [formGroupName]="pointIndex">
                        <div class="label_col"><i class="fa fa-trash form-control action" (click)="deleteresource(pointIndex)"></i></div>
                        <div class="label_col"><input formControlName="charge_name" class="form-control" type="text"/></div>
                        <div class="label_col"><input type="text" class="form-control wdt_130_s" formControlName="rate_cal_method"></div>
                        <div class="label_col"><input  type="number" class="form-control" formControlName="amount" min="0" /></div>
                        <div class="label_col"><input type="number" class="form-control" formControlName="tax_rate"></div>
                        <div class="label_col"><input  type="number" class="form-control" formControlName="tax_amt" /></div>
                        <div class="label_col"><input  type="number" class="form-control" formControlName="gross_amt"/></div>
                       
                      </div>
                    </div>
                 </div>
              </div>
            </fieldset>
          </mat-tab>

          <mat-tab label="Remarks">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="form-group">
                <mat-label>Remarks</mat-label>
                <textarea class="form-control" formControlName="remarks" [(ngModel)]="model.remarks" type="text"></textarea>
              </div>
            </div>     
          </mat-tab> 

          <mat-tab label="Approval">
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="form-group">
                <mat-label>Confirmed By<span class="red">*</span></mat-label>
                <mat-select type="text" formControlName="confirmed_by" [(ngModel)]="model.confirmed_by" class="form-control">
                  <mat-option value="0">-Select-</mat-option>
                  <mat-option *ngFor="let confirmedBy of employeeNames" [value]="confirmedBy.emp_name">{{confirmedBy.emp_name}}</mat-option>  
                </mat-select>
              </div>
            </div> 
            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
              <div class="form-group">
                <mat-label>Approved<span class="red">*</span></mat-label>
                <mat-select formControlName="approval" [(ngModel)]="model.approval" class="form-control">
                  <mat-option value="Yes">Yes</mat-option>
                  <mat-option value="No">No</mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
              <div class="form-group">
                <mat-label>Reason<span class="red">*</span></mat-label>
                <mat-select formControlName="reason" [(ngModel)]="model.reason" class="form-control">
                  <mat-option value="0">-Select-</mat-option>
                  <mat-option *ngFor="let list of reasonIdList" [value]="list.reason_id">{{list.reason}}</mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="form-group">
                <mat-label>Remarks</mat-label>
                <textarea formControlName="approved_remarks" [(ngModel)]="model.approved_remarks" class="form-control"></textarea>
                  
              </div>
            </div>
         </mat-tab>



         <mat-tab label="Termination">
          <div formGroupName="stock_transfer_terminations">
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="form-group chk_tp_pad">
                <mat-checkbox  formControlName="term_stk_ord" (change)="onChangeTSTOrder($event, 'CFT')"> Termination Stock Transfer Order</mat-checkbox>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="form-group">
                <mat-label>Order By</mat-label>
                <mat-select type="text" formControlName="order_by" class="form-control" [disabled]="!is_tporder_checked">
                  <mat-option *ngFor="let orderBy of employeeNames" [value]="orderBy.emp_id">{{orderBy.emp_name}}
                  </mat-option>
                </mat-select>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="form-group">
                <mat-label>Charges Description</mat-label>
                <mat-select class="form-control" formControlName="charges_descpt" (selectionChange)="onChangeReason($event.value)" [disabled]="!is_tporder_checked">
                <mat-option *ngFor="let list of chargesIdList" [value]="list.charge_id">{{list.charge_desc}}</mat-option>
                </mat-select>
              </div>
            </div>
          </div>
           
          <div class="clr"></div>
            <div class="col-lg-12">
                <div class="dyn_table_conent">
                  <div class="dyn_table_header">
                      <label class="label_col"><h3>Action</h3></label>
                      <label class="label_col"><h3 class="wdt_fst">Charges Name</h3></label>
                      <label class="label_col"><h3>Termination Calculation Method</h3></label>
                      <label class="label_col"><h3>Method</h3></label>
                      <label class="label_col"><h3>Calculation Qty</h3></label>
                      <label class="label_col"><h3>Quantity</h3></label>
                      <label class="label_col"><h3>Amount</h3></label>
                      <label class="label_col"><h3>Rate</h3></label>
                      <label class="label_col"><h3>GL Account</h3></label>
                      <label class="label_col"><h3>Tax Rate(%)</h3></label>
                      <label class="label_col"><h3>Tax Amt</h3></label>
                      <label class="label_col"><h3>Total Amt</h3></label>
                  </div>
                  
            <div class="dyn_table_data_cont" formArrayName="stock_transfer_terminations_dyn" [hidden]="is_tporder_checked == false">
                <div class="dyn_table" *ngFor="let item of stock_transfer_terminations_dyn.controls; let pointIndex=index" [formGroupName]="pointIndex" >
                  <div class="label_col"><i class="fa fa-trash form-control action" (click)="deletetermination(pointIndex)"></i></div>
                  <div class="label_col"><input formControlName="charge_name" class="form-control" type="text"/></div>
                  <div class="label_col"><select class="form-control" formControlName="termination_cal"><option value="0">-Select-</option><option *ngFor="let rate_cal of basislist" [value]="rate_cal">{{rate_cal}}</option></select></div>
                  <div class="label_col"><select class="form-control" formControlName="method"><option value="0">-Select-</option> <option>add</option>  <option>less</option></select></div> 
                  <div class="label_col"><select class="form-control" formControlName="cal_qty"><option value="0">-Select-</option> <option>On pending Qty</option> <option>On total Qty</option> </select></div>
                  <div class="label_col"><input class="form-control wdt_115_s" formControlName="qty" min="0" type="number"></div>
                  <div class="label_col"><input class="form-control wdt_115_s" formControlName="amount" min="0" type="number"></div>
                  <div class="label_col"><input class="form-control wdt_115_s" formControlName="rate" min="0" type="number"></div>
                  <div class="label_col"><select class="form-control" formControlName="gl_account"><option value="0">-Select-</option><option *ngFor="let list of ledgerNames" [value]="list.ledgerid">{{list.ledgername}}</option></select></div> 
                  <div class="label_col"><input class="form-control" formControlName="tax_rate" min="0" type="number" ></div>
                  <div class="label_col"><input class="form-control wdt_115_s" formControlName="tax_amount" min="0" type="number"></div>
                  <div class="label_col"><input class="form-control wdt_115_s" formControlName="total_amount" min="0" type="number"></div>
                </div>
              </div>
           </div>
        </div>

            <div class="clr"></div>
            <div formGroupName="stock_transfer_terminations">
                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="form-group">
                      <mat-label>Reason</mat-label>
                      <mat-select class="form-control" formControlName="reason" [disabled]="!is_tporder_checked">
                        <mat-option value="0">-Select-</mat-option>
                        <mat-option *ngFor="let list of reasonList" [value]="list.reason_id">{{list.reason}}</mat-option>
                      </mat-select>
                    </div>
                  </div>


            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="form-group">
                <mat-label>Remarks</mat-label>
                <textarea class="form-control" formControlName="remarks" rows="1" [readonly]="!is_tporder_checked"></textarea>
              </div>
            </div>

            <div class="clr"></div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 dnmk">
              <div class="form-group">
                <mat-label>Total Termination Charge</mat-label>
                <input type="number" min="0" formControlName="tot_term_chg" class="form-control" [readonly]="!is_tporder_checked">
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-12 dnmk">
              <div class="form-group">
                <mat-label>Add</mat-label>
                <input type="number" min="0" formControlName="term_add" class="form-control" [readonly]="!is_tporder_checked">
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-12 dnmk">
              <div class="form-group">
                <mat-label>Deduct</mat-label>
                <input type="number" min="0" formControlName="term_deduct" class="form-control" [readonly]="!is_tporder_checked">
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-12 dnmk">
              <div class="form-group">
                <mat-label>Net Termination Charge</mat-label>
                <input type="number" min="0" formControlName="net_term_chg" class="form-control" [readonly]="!is_tporder_checked">
              </div>
            </div>

           </div>  
        </mat-tab>

         <mat-tab label="Document Attachment">
          <div class="col-lg-8 col-md-8 col-sm-6 col-12">
            <div class="dyn_table_conent" style="float: left;">
              <div class="dyn_table_header">
                <label class="label_col"><h3>Action</h3></label>
                <label class="label_col"><h3>Document Name</h3></label>
                <label class="label_col"><h3 class="wdt_220">Document Upload</h3></label>
              </div>
              <div class="dyn_table_data_cont" formArrayName="stock_transfer_doc">
                <div class="dyn_table" *ngFor="let item of stock_transfer_doc.controls; let pointIndex=index" [formGroupName]="pointIndex">
                  <div class="label_col"><i class="fa fa-trash form-control action" (click)="deleteDocument(pointIndex)"></i></div>
                  <div class="label_col"><input formControlName="doc_name" class="form-control" type="text" /></div>
                  <div class="label_col"><input class="form-control wdt_220_s" type="file" /></div>
                </div>
              </div>
            </div>

            <div class="btm_btn_content">
              <button type="button" class="btn btn-success" (click)="addDocument(pointIndex)">Add </button>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <fieldset>
              <legend>Document List</legend>
              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="form-group">
                  <textarea class="form-control" rows="1"></textarea>
                </div>
              </div>
            </fieldset>
          </div>
        </mat-tab>


        </mat-tab-group>
      </div>
    </div>

      <div class="col-lg-12">
        <div class="form-group">
          <button type="submit" (click)="send()" class="btn btn-primary" *ngIf="stocktransferordersave">Submit</button>
        </div>
      </div>
    </div>
  </section>
</form>

<div class="master_containerr" *ngIf="isHidden==false">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <fieldset class="table_container">
          <legend>Goods Stock Transfer List</legend>
          <div class="table_content">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Stock No</th>
                  <th>Stock Date</th>
                  <th>Business Unit</th>
                  <th>Shipment Mode</th>
                  <th colspan="3">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let StockTransfer of listStockTransfer">
                  <td>{{StockTransfer.order_no}}</td>
                  <td>{{StockTransfer.order_date}}</td>
                  <td>{{StockTransfer.business_unit}}</td>
                  <td>{{StockTransfer.shipment_mode}}</td>
                  <td><button class="btn btn-success" (click)="onUpdate(StockTransfer.id, StockTransfer.order_id,'view')" *ngIf="stocktransferorderview">View</button></td>  
                  <td *ngIf="StockTransfer.loadunload_status !='1';else elseBlock "><button class="btn btn-info" (click)="onUpdate(StockTransfer.id, StockTransfer.order_id,'update')" *ngIf="stocktransferorderupdate">Update</button></td>  
                  <ng-template #elseBlock>
                    <td><button class="btn btn-info"  [disabled] ="true">Update</button></td>  
                  </ng-template>
                  <td *ngIf="StockTransfer.loadunload_status !='1';else elseBlock1 "><button class="btn btn-danger" (click)="onDelete(StockTransfer.id)" *ngIf="stocktransferorderdelete">Delete</button></td> 
                  <ng-template #elseBlock1>
                    <td><button class="btn btn-danger"  [disabled] ="true">Delete</button></td>  
                  </ng-template>
                </tr>
              </tbody>
            </table>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>

