<section class="master_container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="button_row">
          <ul>
            <li><button mat-button class="btn btn-info" (click)="showList('add')"><i class="material-icons">add</i>Add</button></li>
            <li><button mat-button class="btn btn-success" (click)="showList('list')"><i class="material-icons">list</i>List</button></li>
          </ul>   
        </div>
      </div>
    </div>
  </div>
</section>
<div class="progress_loader_box" *ngIf="status == false">
  <div class="progress-loader" >
    <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
  </div>
</div>

<form [formGroup]="userForm" autocomplete="off" *ngIf="isHidden==true" >
  <section class="master_container">
    <div class="container-fluid">    
      <div class="row">
        <div class="col-lg-12"> 
          <fieldset>
            <legend>Custom UoM Master</legend>

            <div class="col-lg-3 col-md-4 col-sm-6 col-12" [hidden]="true" >
              <div class="form-group">
                <mat-label>Custom Uom Code</mat-label>
                <input  [(ngModel)]="uomConvFac" formControlName="customuom_code"  type="text" class="form-control" >
              </div> 
            </div>
            
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="form-group">
                <mat-label>Catagory<span class="red">*</span></mat-label>
                <mat-select  [(ngModel)]="model.customuom_catg" formControlName="customuom_catg" class="form-control" (selectionChange)="onChangeCatagory($event.value)" required>
                  <mat-option *ngFor="let list of catagoryList" [value]="list.value">{{list.display}}</mat-option>
                </mat-select>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="form-group">
                <!-- <mat-label>Description</mat-label> -->
                <mat-label>UOM<span class="red">*</span></mat-label>
                <input [(ngModel)]="model.description" formControlName="description"  type="text" class="form-control" >
              </div> 
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="form-group">
                <mat-label>Conversion Factor</mat-label>
                <input [(ngModel)]="uomConvFac"  formControlName="uom_conv_fac"  type="text" class="form-control" [readonly]="model.customuom_catg == 'SUOM'">
              </div> 
            </div>

              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="form-group">
                  <mat-label>Calculation Method</mat-label>
                  <mat-select  [(ngModel)]="selectedCalMethod" formControlName="cal_method" class="form-control" [disabled]="model.customuom_catg == 'SUOM'">
                    <mat-option *ngFor="let cal_method of calculationList" [value]="cal_method">{{cal_method}}</mat-option>
                  </mat-select>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="form-group">
                  <!-- <mat-label>Type Of Term</mat-label> -->
                  <mat-label>Converted UOM</mat-label>
                  <input type="text"  class="form-control"  [(ngModel)]="typeTerm" formControlName="type_term">
                  </div>  
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                  <div class="form-group">
                    <mat-label>Decimal</mat-label>
                    <input type="text"  class="form-control"   formControlName="decimalv">
                    </div>  
                  </div>

                  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="form-group">
                      <mat-label>Remarks</mat-label>
                      <textarea [(ngModel)]="model.remarks" formControlName="remarks" class="form-control" rows="1" ></textarea>
                    </div> 
                  </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="form-group pad_top_25">
                <mat-checkbox  [(ngModel)]="model.uom_active" formControlName="uom_active" >Active</mat-checkbox>
              </div> 
            </div>
            
           
          
          </fieldset>
        </div>
      </div>
      
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group">
            <button type="submit" class="btn btn-primary" (click)="send()" *ngIf="customuommastersave">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
 

<div class="master_container_box" *ngIf="isHidden==false">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <fieldset class="table_container">
          <legend>Custom-UoM List</legend>
            <div class="table_content">
              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="form-group">
                    <!-- <input type="text" placeholder="    Search..." class="form-control" (keydown)="search($event)"> -->
                </div>
              </div>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Category</th>
                    <th>Active</th>
                    <th>UOM</th>
                    <th colspan="4">Action</th>
                  </tr>  
                </thead>
                <tbody>
                  <tr *ngFor="let CustomUom of listCustomUom">
                    <td>{{CustomUom.customuom_catg}}</td>
                    <td>{{CustomUom.uom_active}}</td>
                    <td>{{CustomUom.description}}</td>
                    <td><button class="btn btn-success" (click)="onUpdate(CustomUom.id,'view')" *ngIf="customuommasterview">View</button></td>         
                    <td><button class="btn btn-info" (click)="onUpdate(CustomUom.id,'update')" *ngIf="customuommasterupdate">Update</button></td>         
                    <td><button class="btn btn-danger" (click)="onDelete(CustomUom.id,CustomUom.customuom_id)" *ngIf="customuommasterdelete">Delete</button></td>
                    <td><button class="btn btn-info" (click)="onexport(CustomUom.id)" *ngIf="CustomUom.export == 0">Export to Tally</button></td>              
                  </tr>
                </tbody>
              </table>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>