.btm_btn_content{ margin-bottom: 0px; margin-top: 0px;}
input[type="checkbox"], input[type="radio"] {  height: auto;}
input[type="checkbox"] {margin: 0px; margin-top: 1px \9;}
.label_col .form-control{border-bottom: none;}
.dyn_table_conent{overflow-x:none; float: none;}
.wdt_form_144{width:142px !important;}
