<div class="container-fluid modal_box">
  <div class="row">
      <mat-dialog-content class="mat-typography">
        <fieldset>
          <legend>Indent order List</legend>
            <div class="modal_main_content">
              <div class="col-lg-5 col-md-5 col-sm-6 col-12">
                  <fieldset>
                      <h2 mat-dialog-title>Indent order List</h2>
                      <p>Learn one way to build applications with Angular and reuse your code and abilities to build
                          apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
                      <h3>Incredible tooling</h3>
                      <p>Learn one way to build applications with Angular and reuse your code and abilities to build
                            apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
                            <p>Learn one way to build applications with Angular and reuse your code and abilities to build
                              apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
                            <h3>Incredible tooling</h3>
                            <p>Learn one way to build applications with Angular and reuse your code and abilities to build
                                apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
                  </fieldset>
              </div>
              <div class="col-lg-7 col-md-7 col-sm-6 col-12">
                  <fieldset>
                    <h2 mat-dialog-title>Indent order List</h2>
                    <p>Learn one way to build applications with Angular and reuse your code and abilities to build
                      apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
                    <h3>Incredible tooling</h3>
                    <p>Learn one way to build applications with Angular and reuse your code and abilities to build
                        apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
                        <p>Learn one way to build applications with Angular and reuse your code and abilities to build
                          apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
                        <h3>Incredible tooling</h3>
                        <p>Learn one way to build applications with Angular and reuse your code and abilities to build
                            apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
                  </fieldset>  
              </div>
            </div>
     
    </fieldset>
    </mat-dialog-content>
    <button class="close_btn" mat-button mat-dialog-close><i class="fa fa-close icon"></i></button>
    <mat-dialog-actions align="end">
       <button mat-button mat-dialog-close><i class="fa fa-close icon"></i></button> 
         <button class="btn btn-info" mat-button [mat-dialog-close]="true" cdkFocusInitial>Save</button>
      </mat-dialog-actions>
  </div>
</div> 