
<div class="progress_loader_box" *ngIf="status == false">
  <div class="progress-loader" >
    <mat-progress-spinner [mode]="'indeterminate'" ></mat-progress-spinner>
  </div>
</div>

<div class="container-fluid modal_box">
  <form [formGroup]="userForm">
    <div class="row">
      <div class="col-lg-5 col-md-12 col-sm-12 col-12">
        <mat-dialog-content class="mat-typography">
          <fieldset style="padding: 0 10px;">
            <legend>Document List</legend>
            <div class="table_content" style="padding-left:0; padding-right:0; margin-left:0; margin-right:0;">
              <table class="table table-bordered" style="margin-bottom: 0px;">
                <thead>
                  <tr>
                    <th style="width: 50px;">&nbsp;</th>
                    <th>Sl No.</th>
                    <th>GRN No</th>
                    <th>GRN Date</th>
                    <th>Business Unit</th>
                    </tr>  
                  </thead>
                  <tbody>
                    <tr *ngFor="let i of grnList; let poinIndex = index">
                      <td><mat-radio-button (change)="check1(i)"></mat-radio-button></td>
                      <td>{{poinIndex+1}}</td>
                      <td>{{i.grn_no}}</td>
                      <td>{{i.grn_date}}</td>
                      <td>{{i.b_unitname}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>         
          </fieldset>
        </mat-dialog-content>
      </div>
      <div class="col-lg-7 col-md-12 col-sm-12 col-12">
        <mat-dialog-content class="mat-typography">
          <fieldset style="padding:0 10px">
            <legend>Document List</legend>
            <div class="dyn_table_conent">
              <div class="dyn_table_header">
                <label class="label_col"><h3>Select</h3></label>
                <label class="label_col"><h3>Adv Item Name</h3></label>
                <label class="label_col"><h3>Adv Packing Item</h3></label>
                <label class="label_col"><h3>Adv Packing Qty</h3></label>
                <label class="label_col"><h3>Adv Packing Uom</h3></label>
                <label class="label_col"><h3>Adv Item Qty</h3></label>
                <label class="label_col"><h3>Adv Mat Wt</h3></label>
                <label class="label_col"><h3>Adv Item Uom</h3></label>
                <label class="label_col"><h3>Rcv Packing Qty</h3></label>
                <label class="label_col"><h3>Rcv Packing Uom</h3></label>
                <label class="label_col"><h3>Rcv Item Qty</h3></label>
                <label class="label_col"><h3>Rcv Mat Wt</h3></label>
                <label class="label_col"><h3>Rcv Item Uom</h3></label>
                <label class="label_col"><h3>Pssd Packing Qty</h3></label>
                <label class="label_col"><h3>Pssd Packing Uom</h3></label>
                <label class="label_col"><h3>Pssd Item Qty</h3></label>
                <label class="label_col"><h3>Pssd Mat Wt</h3></label>
                <label class="label_col"><h3>Pssd Item Uom</h3></label>
                <label class="label_col"><h3>Unit Rate</h3></label>
                <label class="label_col"><h3>Price Based On</h3></label>
                <label class="label_col"><h3>Amount</h3></label>
                <label class="label_col"><h3>Disocunt</h3></label>
                <label class="label_col"><h3>Discount Based On</h3></label>
                <label class="label_col"><h3>Disocunt Amount</h3></label>
                <label class="label_col"><h3>Net Amount</h3></label>
                <label class="label_col"><h3>Qc Norms</h3></label>
              </div>
              <div class="dyn_table_data_cont" formArrayName="pur_good_receipt_item_details">
                <div class="dyn_table" *ngFor="let item of pur_good_receipt_item_details.controls; let pointIndex=index" [formGroupName]="pointIndex">
                  <div class="label_col"><mat-checkbox class="form-control" formControlName="checkbox"></mat-checkbox></div>
                  <div class="label_col"><input class="form-control" type="text" formControlName="adv_item_name" readonly/></div>
                  <div class="label_col"><input class="form-control" type="text" formControlName="adv_packing_name" readonly/></div>
                  <!-- <div class="label_col"><select formControlName="adv_item_code" class="form-control"><option value="0">-Select-</option></select></div>                    
                  <div class="label_col"><select formControlName="adv_packing" class="form-control"><option value="0">-Select-</option></select></div>                       -->
                  <div class="label_col"><input class="form-control" type="number" min="0" formControlName="adv_pack_qty" /></div>
                  <div class="label_col"><input class="form-control" formControlName="adv_pack_uom" readonly/></div>                     
                  <div class="label_col"><input class="form-control" type="number" formControlName="adv_item_qty" readonly/></div>
                  <div class="label_col"><input class="form-control" formControlName="adv_mat_wt" readonly/></div>
                  <div class="label_col"><input class="form-control" formControlName="adv_item_uom" readonly/></div>
                  <div class="label_col"><input class="form-control" type="number"  formControlName="rcv_pack_qty" /></div>
                  <div class="label_col"><input class="form-control" formControlName="rcv_pack_uom" readonly/></div>                     
                  <div class="label_col"><input class="form-control" type="number" formControlName="rcv_item_qty" readonly/></div>
                  <div class="label_col"><input class="form-control" formControlName="rcv_mat_wt" readonly/></div>
                  <div class="label_col"><input class="form-control" formControlName="rcv_item_uom" readonly/></div>
                  <div class="label_col"><input class="form-control" type="number" min="0" formControlName="pssd_pack_qty" /></div>
                  <div class="label_col"><input class="form-control" formControlName="pssd_pack_uom" readonly/></div>                     
                  <div class="label_col"><input class="form-control" type="number" formControlName="pssd_item_qty" readonly/></div>
                  <div class="label_col"><input class="form-control" formControlName="pssd_mat_wt" readonly/></div>
                  <div class="label_col"><input class="form-control" formControlName="pssd_item_uom" readonly/></div>
                  <div class="label_col"><input class="form-control" type="number" min="0" formControlName="unit_rate"/></div>
                  <div class="label_col"><input class="form-control" type="text" formControlName="price_based_on" readonly/></div>
                  <div class="label_col"><input class="form-control" type="number" formControlName="amount" readonly/></div>
                  <div class="label_col"><input class="form-control" type="number" formControlName="discount"/></div>
                  <div class="label_col"><input class="form-control" type="text" formControlName="discount_based_on"/></div>
                  <div class="label_col"><input class="form-control" type="number" formControlName="discount_amt" readonly/></div>
                  <div class="label_col"><input class="form-control" type="number" formControlName="net_amt" readonly/></div>
                  <div class="label_col"><input class="form-control" type="text" formControlName="qc_norms" readonly/></div>                  
                  <div class="label_col" style="display: none;"><input class="form-control" type="text" formControlName="adv_item_code" readonly/></div>
                  <div class="label_col" style="display: none;"><input class="form-control" type="text" formControlName="adv_packing" readonly/></div>
                </div>
              </div>  
            </div> 
          </fieldset>
        </mat-dialog-content>
      </div>
      <button class="close_btn" mat-button mat-dialog-close><i class="fa fa-close icon"></i></button>
    </div>
    <mat-dialog-actions align="end">
      <button class="btn btn-info" (click)="SendDataToDifferentComponenet()" mat-button [mat-dialog-close]="true" cdkFocusInitial>Submit</button>
    </mat-dialog-actions>
  </form>
</div>
  
  
  
  

