.wth_1{width: 120px !important; display: inline-block; height: 32px;}
.data_table .form-control{ background: #fff; border: 1px solid #ccc;}
.data_table .dyn_table .label_col:last-child{border-right: 1px solid #ccc;}
.data_table .dyn_table .label_col{padding:4px; width: 115px; text-align: center;}
.mat-button {line-height: 30px !important;}
.form-group{height: 59px;}
.chk_tp_pad1{padding-top: 24px;}
.wt_220_s{width: 211px !important;}
.mat-form-field, .mat-form-field-infix {width: 100% !important;}