<div class="progress_loader_box" *ngIf="status == false">
  <div class="progress-loader" >
    <mat-progress-spinner [mode]="'indeterminate'" ></mat-progress-spinner>
  </div>
</div>
<div class="container-fluid modal_box">
  <form [formGroup]="userForm1">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <fieldset>
          <legend>Charge Code Details</legend>
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="table_contenttbl_dsn">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th style="width: 50px;"></th>
                    <th>Sl No</th>
                    <th>Charge Id</th>
                    <th>Charge Description</th>
                  </tr>
                </thead>
                <tbody>
                   
                  <tr *ngFor="let i of list; let poinIndex = index">
                    <td><mat-radio-button (change)="check1(i)"></mat-radio-button></td>
                    <td>{{poinIndex+1}}</td>
                    <td>{{i.charge_id}}</td>
                    <td>{{i.charge_desc}}</td> 
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="close_btn" mat-button mat-dialog-close><i class="fa fa-close icon"></i></button>
    </div>
    <mat-dialog-actions>
        <button class="btn btn-info" mat-button [mat-dialog-close]="true" (click)="SendDataToDifferentComponenet()">Submit</button>
      </mat-dialog-actions>
  </form>
</div>