<section class="master_container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="button_row">
          <ul>
            <li><button mat-button class="btn btn-info" (click)="showList('add')"><i class="material-icons">add</i>Add</button></li>
            <li><button mat-button class="btn btn-success" (click)="showList('list')"><i class="material-icons">list</i>List</button></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="progress_loader_box" *ngIf="status == false">
  <div class="progress-loader" >
    <mat-progress-spinner [mode]="'indeterminate'" ></mat-progress-spinner>
  </div>
</div>
<form [formGroup]="userForm" autocomplete="off" *ngIf="isHidden==true">
  <section class="master_container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <fieldset>
            <legend>Other Party Master</legend>

            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="form-group">
                <mat-label>Business Unit<span class="red">*</span></mat-label>
                <mat-select class="form-control"  [(ngModel)]="BuUnit" formControlName="business_unit">
                  <mat-option *ngFor="let list of businesslists" [value]="list.businessunit_id">{{list.businessunit_name}}</mat-option>
                </mat-select>
              </div>
            </div>
            
            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
              <div class="form-group">
                <mat-label>Other Party Name</mat-label>
                <input type="text" class="form-control" formControlName="nopartyname">
              </div>              
            </div>
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group">
            <div class="btn-toolbar">
              <button type="submit" class="btn btn-primary" (click)="send()" *ngIf="otherpartysave">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>

<!-- list -->

<div class="master_containerr" *ngIf="isHidden==false">
  <div class="container-fluid">   
    <div class="row">
      <div class="col-lg-12">
        <fieldset class="table_container">
          <legend>Other Party Master List</legend>
          <div class="table_content">
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="form-group">
                  <input type="text" placeholder="    Search..." class="form-control" (keydown)="search($event)">
              </div>
            </div>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Bussiness Unit Name</th>
                  <th>Othet Party Name</th>
                  <th colspan="3">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let otherparty of otherpartylist">
                  <td>{{otherparty.business_unitname}}</td>
                  <td>{{otherparty.nopartyname}}</td>
                  <td><button class="btn btn-success" (click)="onUpdate(otherparty.id,'view')">View</button></td>                 
                  <td><button class="btn btn-info" (click)="onUpdate(otherparty.id,'update')">Update</button></td>                 
                  <td><button class="btn btn-danger" (click)="onDelete(otherparty.id)">Delete</button></td>                 
                </tr>
              </tbody>
            </table>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>