<section class="master_container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="button_row">
          <ul>
            <li><button mat-button class="btn btn-info" (click)="showList('add')"><i class="material-icons">add</i>Add</button></li>
            <li><button mat-button class="btn btn-success" (click)="showList('list')"><i class="material-icons">list</i>List</button></li>
          </ul>   
        </div>
      </div>
    </div>
  </div>
</section>

<div class="progress_loader_box" *ngIf="status == false">
    <div class="progress-loader" >
      <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
    </div>
  </div>

<form [formGroup]="userForm" autocomplete="off" *ngIf="isHidden==true">
  <section class="master_container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <fieldset>
            <legend>Accounts Master Group</legend>

            <div class="col-lg-3 col-md-4 col-sm-6 col-12" >
              <div class="form-group">
                <label>Accounts Group Code</label>
                <input  type="text" class="form-control" formControlName="accts_group_code" [(ngModel)]="seq_no" readonly> 
              </div>
            </div>

           

            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="form-group">
                <mat-label>Group Name<span class="red">*</span></mat-label>
                <mat-select-autocomplete class="form-control ats"  
                [options]="accountsType"
                [display]="'acc_type_name'"
                [value]="'accts_id'"
                [multiple]='false'
                ngDefaultControl
                [formControl]="userForm.controls['accts_id']">
              </mat-select-autocomplete>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="form-group ">
                <mat-label>Parent Group</mat-label>
                <mat-select-autocomplete class="form-control ats"  
                [options]="userParentGroups"
                [display]="'accts_grp_name'"
                [value]="'accts_group_id'"
                [multiple]='false'
                ngDefaultControl
                [formControl]="userForm.controls['parent_group']"
                [labelCount]="2">
              </mat-select-autocomplete>
              </div>
            </div>

           
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="form-group">
                <label>Accounts Sub Group Name<span class="red">*</span></label>
                <input type="text" class="form-control" formControlName="accts_grp_name">
              </div>
            </div>
             
           
          

            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="form-group chk_tp_pad">
                <mat-checkbox formControlName="accts_grp_active" [(ngModel)]="activeIsChecked">Active</mat-checkbox> 
              </div>
            </div>
         </fieldset>
         
         <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <button type="submit" (click)="send()" class="btn btn-primary" *ngIf="acctsgroupsave">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>      

 <!-- List Start-->

<div class="master_containerr" *ngIf="isHidden==false">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <fieldset class="table_container">
          <legend>Accounts Group List</legend>
          <div class="table_content">
         
            <div class="row" style="margin-bottom: 15px;">
               <div class="col-sm-12 col-md-4 col-md-offset-8"><input type="text" class="form-control" placeholder="Search......" (keydown)="search($event)"></div> 
            </div>
            
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Acc Group Code</th>
                  <th>Acc Type Name</th>
                  <th>Acc Group Name</th>
                  <th>Parent Group</th>
                  <th colspan="4">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let Accts_group of listAccountsGroup ">
                  <td>{{Accts_group.accts_group_code}}</td>
                  <td>{{Accts_group.acc_type_name}}</td>
                  <td>{{Accts_group.accts_grp_name}}</td>
                  <td>{{Accts_group.parent_group_name}}</td>
                  <td><button class="btn btn-success" (click)="onUpdate(Accts_group.id,'view')">View</button></td>  
                  <td><button class="btn btn-info" (click)="onUpdate(Accts_group.id,'update')">Update</button></td>  
                  <td><button class="btn btn-danger" (click)="onDelete(Accts_group.id,Accts_group.accts_group_id)">Delete</button></td>     
                  <td><button class="btn btn-info" (click)="posting(Accts_group.id)">Posting</button></td>                      
                </tr>
              </tbody>
            </table>
          </div>
        </fieldset>
     </div>
   </div>
  </div>
</div>