
<div class="progress_loader_box" *ngIf="status == false">
  <div class="progress-loader" >
    <mat-progress-spinner [mode]="'indeterminate'" ></mat-progress-spinner>
  </div>
</div>

<div class="container-fluid modal_box">
  <form [formGroup]="userForm">
    <div class="row">
      <div class="col-lg-8 col-md-12 col-sm-12 col-12 col-lg-offset-2">
        <mat-dialog-content class="mat-typography">
          <fieldset>
            <legend>Document List</legend>
            <div class="dyn_table_conent">
              <div class="dyn_table_header" style="padding-left: 20%!important;">
              
              <label class="label_col"><h3>Select</h3></label>
              <label class="label_col pdg"><h3 >Challan Number</h3></label>
              <label class="label_col"><h3>Challan Date</h3></label>
             
              </div>
              <div class="dyn_table_data_cont" formArrayName="delivery_challan" style="padding-left: 20%!important;">
                   <div class="dyn_table" *ngFor="let challan of delivery_challan.controls; let pointIndex=index" [formGroupName]="pointIndex">
                   <div class="label_col" *ngIf="showbutton;else elseBlockupdatedynamic"><mat-checkbox class="form-control srln" style="width: 53px;" formControlName="checkbox" (change)="checkdeliverychallan(pointIndex);"></mat-checkbox></div>
                
                    <ng-template #elseBlockupdatedynamic>
                            <div class="label_col" ><mat-checkbox class="form-control srln" style="width: 53px;" formControlName="checkbox" [disabled]="true"></mat-checkbox></div>
                    </ng-template> 
                  
                    <div class="label_col">
                      <input class="form-control " readonly type="text" formControlName="challan_no"  />
                      <input class="form-control " readonly type="hidden" formControlName="delivery_cid"  />
                    </div>  
                    <div class="label_col"><input class="form-control" readonly type="text"  formControlName="challan_date"/></div>
                 
                </div>
              </div>  
            </div>          
          </fieldset>
        </mat-dialog-content>
      </div>
       <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <mat-dialog-content class="mat-typography">
          <fieldset style="padding: 0 10px;">
            <legend>Document List</legend>
            <div class="dyn_table_conent">
                <div class="dyn_table_header">
                
                <label class="label_col"><h3>Select</h3></label>
                <label class="label_col pdg"><h3 class="i_nam">Item Name</h3></label>
                <label class="label_col"><h3 class="i_nam">Packing Item</h3></label>
                <label class="label_col"><h3>HSN Code</h3></label>
                <label class="label_col"><h3>Packing Qty.</h3></label>
                <label class="label_col"><h3>Packing Uom</h3></label>
                <label class="label_col"><h3>Item Qty.</h3></label>
                <label class="label_col"><h3>Item Uom</h3></label>
                <label class="label_col"><h3>Mat.Wt</h3></label>
                <label class="label_col"><h3>Price</h3></label>
                <label class="label_col"><h3>Price Based On</h3></label>
                <label class="label_col"><h3>Amount</h3></label>
                <label class="label_col"><h3>Discount</h3></label>
                <label class="label_col"><h3>Discount Based On</h3></label>
                <label class="label_col"><h3>Discount Amt.</h3></label>
                <label class="label_col"><h3>Tax Code</h3></label>
                <label class="label_col"><h3>Tax Rate(%)</h3></label>
                <label class="label_col"><h3>Tax Amt</h3></label>
                <label class="label_col"><h3>Total Amt</h3></label>
                <label class="label_col"><h3>Quality<br> Norms</h3></label> 
                </div>
                <div class="dyn_table_data_cont" formArrayName="delivery_challan_Item_Dtls">
                  <div class="dyn_table" *ngFor="let item of delivery_challan_Item_Dtls.controls; let pointIndex=index" [formGroupName]="pointIndex">
                   
                   
                    <div class="label_col" *ngIf="showbutton;else elseBlockupdatedynamic"><mat-checkbox class="form-control srln" style="width: 53px;" formControlName="checkbox"></mat-checkbox></div>
                  
                    <ng-template #elseBlockupdatedynamic>
                            <div class="label_col" ><mat-checkbox class="form-control srln" style="width: 53px;" formControlName="checkbox" [disabled]="true"></mat-checkbox></div>
                    </ng-template>
                   
                   
                    <div class="label_col"><input class="form-control i_nam" [readonly]="editable" type="text" formControlName="item_name"  /></div>  
                    <div class="label_col"><input formControlName="packing_name" [readonly]="editable" type="text" class="form-control i_nam"  /></div>
                    <div class="label_col"><input class="form-control" [readonly]="editable" formControlName="hsn_code" type="text"  /></div>
                    <div class="label_col"><input class="form-control" [readonly]="PackingQty" (keyup)="getPackingQty($event, pointIndex)" formControlName="squantity" type="number"  /></div>
                    <div class="label_col"><input type="text" class="form-control" [readonly]="editable" formControlName="suom"  /></div>
                    <div class="label_col"><input class="form-control" [readonly]="editable" formControlName="quantity" type="number"  /></div>
                    <div class="label_col"><input type="text" class="form-control" formControlName="uom"  [readonly]="editable"/></div>   
                    <div class="label_col"><input class="form-control" [readonly]="editable" formControlName="mat_wt" type="number"  /></div>
                    <div class="label_col"><input class="form-control" [readonly]="PriceReadOnly" formControlName="price" type="number"  /></div>
                   
                    <div class="label_col"><select class="form-control" formControlName="price_based_on" (change)="onChangePriceBasedOn($event, pointIndex)"><option value="0">-Select-</option><option value="Packing">Packing</option><option value="Item">Item</option></select></div>
                    <div class="label_col"><input class="form-control" [readonly]="editable" formControlName="amount" type="number"  /></div>
                    <div class="label_col"><input class="form-control" [readonly]="editable" formControlName="discount_rate" type="number"  /></div>
                    <div class="label_col"><input type="text" class="form-control" [readonly]="editable" formControlName="discount_type"  ></div>
                    <div class="label_col"><input type="number" class="form-control" [readonly]="editable" formControlName="discount_amt"  /></div>           
                    <div class="label_col"><input class="form-control" [readonly]="editable" formControlName="tax_code" type="text" /></div>
                    <div class="label_col"><input class="form-control" [readonly]="editable" formControlName="tax_rate" type="number" /></div>
                    <div class="label_col"><input class="form-control" [readonly]="editable" formControlName="tax_amt" type="number" /></div>
                    <div class="label_col"><input class="form-control" [readonly]="editable" formControlName="total_amt" type="number" /></div>
                    <div class="label_col"><input class="form-control" [readonly]="editable" formControlName="acc_norms" type="text" /></div>
                    <div class="label_col" style="display: none;"><input class="form-control" formControlName="item_code" type="text"></div>
                    <div class="label_col" style="display: none;"><input class="form-control" formControlName="packing" type="text"></div>
                    <div class="label_col" ><input class="form-control" formControlName="delivery_cid" type="hidden"></div>
                    
                  </div>
                </div>  
              </div>
            
          </fieldset>
        </mat-dialog-content>
      </div>
      <button class="close_btn" mat-button mat-dialog-close><i class="fa fa-close icon"></i></button>
    </div>
      <mat-dialog-actions align="end" *ngIf="showbutton">
          <!-- <button class="btn btn-info" (click)="SendDataToDifferentComponenet()" mat-button [mat-dialog-close]="true" cdkFocusInitial>Submit</button> -->
          <button class="btn btn-info" (click)="SendDataToDifferentComponenet()">Submit</button>
        </mat-dialog-actions>
  </form>
</div>
  
  
  
  
