
.finance{width: 400px; margin: 0 auto; padding: 10% 0 0;}
fieldset legend{background: #006129; margin: 0 auto; font-size: 25px; line-height: 30px;} 
.btn-lg{width: 100%; color: #fff;}
fieldset{background: #fbffc5; padding-bottom: 15px;}
.er_msg{padding: 0 15px;}
button.btn-success{background: linear-gradient(to top right, #ffa024, #fbb254)}
button.btn-success:hover{background: #e58a28;}