<div class="progress_loader_box" *ngIf="status == false">
  <div class="progress-loader" >
    <mat-progress-spinner [mode]="'indeterminate'" ></mat-progress-spinner>
  </div>
</div>

<div class="container-fluid modal_box">
  <form [formGroup]="userForm">
    <div class="row">
      <div class="col-lg-8 col-md-12 col-sm-12 col-12 col-lg-offset-2">
        <mat-dialog-content class="mat-typography">
          <fieldset>
            <legend>Document List</legend>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="table_content">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 50px;">&nbsp;</th>
                      <th>Sl No.</th>
                      <th>Order No</th>
                      <th>Order Date</th>
                      <th>Order Type</th>
                      <th>Party Name</th>
                      <th>Price</th>
                    </tr>  
                  </thead>
                  <tbody>
                    <tr *ngFor="let i of salesOrderList; let poinIndex = index">
                      <td *ngIf="showbutton;else elseBlockupdate">
                        <mat-radio-button (change)="check1(i)"></mat-radio-button></td>

                        <ng-template #elseBlockupdate>
                         <td >
                           <mat-radio-button  [checked] ="true" [disabled]="true"></mat-radio-button>
                         </td>
                         </ng-template>
                      <td>{{poinIndex+1}}</td>
                      <td>{{i.order_no}}</td>
                      <td>{{i.order_date}}</td>
                      <td>{{i.order_type}}</td>
                      <td>{{i.customer_name}}</td>
                      <td>{{i.rate}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>           
          </fieldset>
        </mat-dialog-content>
      </div>
     

      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <mat-dialog-content class="mat-typography">
          <fieldset>
            <div style="text-align: center;"><span class="red">{{statusmsg}}</span></div>
            <legend>Document List</legend>
            
            <span class="red" style="margin: 30%;">{{statusNoMsg}}</span>

            <div class="dyn_table_conent">
                <div class="dyn_table_header">
                  <label class="label_col"><h3>Select</h3></label>
                  <label class="label_col"><h3 class="i_nam">Item Name</h3></label>
                  <label class="label_col"><h3 class="i_nam">Packing Item</h3></label>
                  <label class="label_col"><h3>HSN Code</h3></label>
                  <label class="label_col"><h3>Packing Qty.</h3></label>
                  <label class="label_col"><h3>Packing Uom</h3></label>
                  <label class="label_col"><h3>Price Based On</h3></label>
                  <label class="label_col"><h3>Item Qty.</h3></label>
                  <label class="label_col"><h3>Item Uom</h3></label>
                  
                </div>
                <div class="dyn_table_data_cont" formArrayName="sales_Order_Item_Dtls_for_jobwork">
                  <div class="dyn_table" *ngFor="let item of sales_Order_Item_Dtls_for_jobwork.controls; let pointIndex=index" [formGroupName]="pointIndex">
                    <div class="label_col" *ngIf="showbutton;else elseBlockupdatedynamic"><mat-checkbox class="form-control" formControlName="checkbox"></mat-checkbox></div>
                    
                    <ng-template #elseBlockupdatedynamic>
                      <div class="label_col" ><mat-checkbox class="form-control" style="width: 53px;" formControlName="checkbox" [disabled] ="true"></mat-checkbox></div>
                   </ng-template>
                  <div class="label_col"><input class="form-control i_nam" type="text" formControlName="job_item_name" readonly/></div> 
                  <div class="label_col"><input formControlName="job_packing_name" type="text" class="form-control i_nam" readonly/></div> 
                  <div class="label_col"><input formControlName="job_hsn" type="text" class="form-control" readonly/></div>
                  <div class="label_col"><input class="form-control" formControlName="pack_qty" type="number"  readonly/></div>
                  <div class="label_col"><input type="text" class="form-control" formControlName="pack_uom" readonly/></div>
                  <div class="label_col"><input class="form-control" formControlName="price_based_on" type="text" readonly/></div>
                  <div class="label_col"><input type="text" class="form-control" formControlName="item_qty" readonly/></div>
                  <div class="label_col"><input class="form-control" formControlName="item_uom" type="text" readonly/></div>
                 
                </div>
                </div>  
              </div>
            
          </fieldset>
        </mat-dialog-content>
      </div>
      <button class="close_btn" mat-button mat-dialog-close><i class="fa fa-close icon"></i></button>
    </div>
    <!-- *ngIf="JsonPack_Qty > PckQty || JsonPack_Qty==PckQty" -->
      <mat-dialog-actions align="end" >
          <!-- <button class="btn btn-info" (click)="SendDataToDifferentComponenet()" mat-button [mat-dialog-close]="true" cdkFocusInitial>Submit</button> -->
          <button class="btn btn-info" (click)="SendDataToDifferentComponenet()">Submit</button>
        </mat-dialog-actions>
  </form>
</div>
  
  
  
  
