<section class="master_containerr">
    <div class="container-fluid">
     <form [formGroup]="userForm" autocomplete="off" (ngSubmit)="send()">
       <div class="row">
           <fieldset>
               <legend>Purchase Order Details</legend>
                 <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                     <div class="form-group">
                         <label for="Order No.">Order Number</label>
                         <input type="text" class="form-control" >
                     </div>
                 </div>
                 <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                     <div class="form-group">
                       <label for="Date">Date</label>
                       <input type="date" class="form-control" [(ngModel)]="model.ord_date" formControlName="ord_date">
                     </div>
                 </div>
                 <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="Service / Item Type">Service / Item Type</label>
                       <select class="form-control" [(ngModel)]="model.ser_item_type" formControlName="ser_item_type"><option >Select Service / Item Type</option></select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="Service / Item Sub Type"> Service / Item Sub Type</label>
                       <select class="form-control" [(ngModel)]="model.ser_item_subtype" formControlName="ser_item_subtype"><option >Select Service / Item Sub Type</option></select>
                    </div>
                </div>
                
                 <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                      <div class="form-group">
                        <label for="Remarks">Remarks</label>
                        <input type="text" class="form-control" [(ngModel)]="model.remarks" formControlName="remarks">
                      </div>
                 </div>
                 <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                      <div class="form-group">
                          <label for="Supplier Name">Supplier Name</label>
                          <select class="form-control" [(ngModel)]="model.supplier_name" formControlName="supplier_name"><option >Select Supplier Name</option></select>
                      </div>
                 </div>
                   
                 <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="Business Unit"> Business Unit</label>
                        <select class="form-control" [(ngModel)]="model.businessunit" formControlName="businessunit"><option >Select Business Unit</option></select>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="No Of Advice">No Of Advice</label>
                        <input type="text" class="form-control" [(ngModel)]="model.no_of_advice" formControlName="no_of_advice">
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                  <div class="form-group">
                      <label for="Referance Type">Referance Type</label>
                      <select class="form-control" [(ngModel)]="model.referance_type" formControlName="referance_type"><option >Select Referance Type</option></select>
                  </div>
              </div>
              
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                      <div class="form-group">
                          <label for="Party Ref. Document No.">Party Ref. Document No.</label>
                         <select class="form-control" [(ngModel)]="model.pref_doc_no" formControlName="pref_doc_no"><option >Party Ref. Document No.</option></select>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                      <div class="form-group">
                          <label for="Department">Date</label>
                          <input type="date" class="form-control" [(ngModel)]="model.d_date" formControlName="d_date">
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="Delivery Days">Delivery Days</label>
                        <input type="text" class="form-control" [(ngModel)]="model.delivery_days" formControlName="delivery_days">
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                      <div class="form-group">
                          <label for="Discount Type">Discount Type</label>
                          <select class="form-control" [(ngModel)]="model.discount_type" formControlName="discount_type"><option >Discount Type</option></select>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="Discount Rate">Discount Rate</label>
                            <input type="text" class="form-control" [(ngModel)]="model.discount_rate" formControlName="discount_rate">
                        </div>
                      </div>
                    <div class="singel">
                    
                      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                          <div class="form-group">
                              <mat-checkbox>Close Purchase Order</mat-checkbox>
                           </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                          <div class="form-group">
                              <mat-checkbox [(ngModel)]="model.po_fullfillment" formControlName="po_fullfillment">PO Fulfillment By Advice Count</mat-checkbox>
                           </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                          <div class="form-group">
                              <mat-checkbox [(ngModel)]="model.broker_info" formControlName="broker_info">Broker Info. Required</mat-checkbox>
                           </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                          <div class="form-group">
                              <mat-checkbox [(ngModel)]="model.advice_req" formControlName="advice_req">Advice Required</mat-checkbox>
                           </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                          <div class="form-group">
                              <mat-checkbox [(ngModel)]="model.madvice_sin_grn" formControlName="madvice_sin_grn">Multiple Advice In Single GRN</mat-checkbox>
                           </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                          <div class="form-group">
                              <mat-checkbox [(ngModel)]="model.weightment_req" formControlName="weightment_req">Weightment Required</mat-checkbox>
                           </div>
                      </div>
                    </div>
                  
                 
           </fieldset>
          
           
           </div>


           <div class="dyn_table_conent">
            <mat-tab-group animationDuration="1000ms">
                <mat-tab label="Service / Item Details">
                  
                    <div  class="dyn_table_header">
                        <label class="label_col"><h3>Action</h3></label>
                        <label class="label_col"><h3>Srl No</h3></label>
                        <label class="label_col"><h3>Service / Item Code</h3></label>
                        <label class="label_col"><h3>Service / Item Name</h3></label>
                        <label class="label_col"><h3>Current Stock</h3></label>
                        <label class="label_col"><h3>Quantity</h3></label>
                        <label class="label_col"><h3>UoM</h3></label>
                        <label class="label_col"><h3>Rate</h3></label> 
                        <label class="label_col"><h3>Discount Method</h3></label>
                        <label class="label_col"><h3>Discount</h3></label>
                        <label class="label_col"><h3>Receipt Criteria</h3></label>
                        <label class="label_col"><h3>Applicable On</h3></label>
                        <label class="label_col"><h3>Tolerance %</h3></label>
                        <label class="label_col"><h3>Tax Code</h3></label>
                    </div>
                    <div  class="dyn_table_data_cont" formArrayName="pur_Order_Item_Details">
                        <div class="dyn_table" *ngFor="let item of pur_Order_Item_Details.controls; let pointIndex=index" [formGroupName]="pointIndex">
                            <div class="label_col"><i class="fa fa-trash form-control action"></i></div>
                            <div class="label_col"><input class="form-control" type="number" formControlName="slno"/></div>
                            <div class="label_col"><select class="form-control" type="text" formControlName="item_code"></select></div>
                            <div class="label_col"><select class="form-control" type="text" formControlName="item_name"></select></div>
                            <div class="label_col"><input class="form-control" type="text" formControlName="current_stock"/></div>
                            <div class="label_col"><input class="form-control" type="text" formControlName="quantity"/></div>
                            <div class="label_col"><input class="form-control" type="text" formControlName="uom"/></div>
                            <div class="label_col"><input class="form-control" type="text" formControlName="rate"/></div>
                            <div class="label_col"><input class="form-control" type="text" formControlName="discount_method"/></div>
                            <div class="label_col"><input class="form-control" type="text" formControlName="discount"/></div>
                            <div class="label_col"><input class="form-control" type="text" formControlName="receipt_criteria"/></div>
                            <div class="label_col"><input class="form-control" type="text"  formControlName="applicable_on"/></div>
                            <div class="label_col"><input class="form-control" type="text" formControlName="tolerance"/></div>
                            <div class="label_col"><input class="form-control" type="text" formControlName="tax_code"/></div>
                        </div>
                    </div>
             
                  <div class="btm_btn_content">
                      <button type="button" class="btn btn-success">Add Row </button>
                      <div class="clr"></div>
                  </div>
        
              </mat-tab>
              <mat-tab label="Tax Information">
                      
                  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                      <div class="form-group">
                          <label for="PAN No.">PAN No.</label>
                          <input type="text" class="form-control" [(ngModel)]="model.pan_no" formControlName="pan_no">
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                          <div class="form-group">
                              <label for="GST  No.">GST  No.</label>
                              <input type="text" class="form-control" [(ngModel)]="model.gst_no" formControlName="gst_no">
                          </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                      <div class="form-group">
                          <label for="LST/VAT No.">LST/VAT No.</label>
                          <input type="text" class="form-control" [(ngModel)]="model.lst_vat_no" formControlName="lst_vat_no">
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                      <div class="form-group">
                          <label for="TIN  No.">TIN  No.</label>
                          <input type="text" class="form-control" [(ngModel)]="model.tin_no" formControlName="tin_no">
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                      <div class="form-group">
                          <label for="CST  No.">CST  No.</label>
                          <input type="text" class="form-control" [(ngModel)]="model.cst_no" formControlName="cst_no">
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                      <div class="form-group">
                          <label for="TAN  No.">TAN  No.</label>
                          <input type="text" class="form-control" [(ngModel)]="model.tan_no" formControlName="tan_no">
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                      <div class="form-group">
                          <label for="Service Tax Reg. No.">Service Tax Reg. No.</label>
                          <input type="text" class="form-control" [(ngModel)]="model.ser_tax_reg_no" formControlName="ser_tax_reg_no">
                      </div>
                  </div>
        
              </mat-tab>
                  <mat-tab label="Shipment Details">
      
                      <fieldset>
                          <legend>Ship To</legend>
                          <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                              <div class="form-group">
                                  <label for="Address Id">Address Id</label>
                                  <select class="form-control" [(ngModel)]="model.ship_to_addr_id" formControlName="ship_to_addr_id"><option >Select Address Id</option></select>
                              </div>
                          </div>
                          <div class="col-lg-9 col-md-8 col-sm-6 col-12">
                                  <div class="form-group">
                                      <label for="Address Id">Address</label>
                                      <textarea class="form-control" [(ngModel)]="model.ship_to_addr" formControlName="ship_to_addr" rows="1"></textarea>
                                  </div>
                              </div>
                      </fieldset>
      
                      <fieldset>
                          <legend>Pay To</legend>
                              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                  <div class="form-group">
                                      <label for="Address Id">Address Id</label>
                                      <select class="form-control" [(ngModel)]="model.pay_to_addr_id" formControlName="pay_to_addr_id"><option >Select Address Id</option></select>
                                  </div>
                              </div>
                              <div class="col-lg-9 col-md-8 col-sm-6 col-12">
                                      <div class="form-group">
                                          <label for="Address Id">Address</label>
                                          <textarea class="form-control" [(ngModel)]="model.pay_to_addr" formControlName="pay_to_addr" rows="1"></textarea>
                                      </div>
                              </div>
                      </fieldset>
                  </mat-tab>
                  <mat-tab label="Terms & Condition">
                      <fieldset>
                          <legend>Acceptance Norms</legend>
                              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                  <div class="form-group">
                                      <mat-checkbox>Acceptance Norms</mat-checkbox>
                                  </div>
                              </div>
                              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                  <div class="form-group">
                                      <label for="Acceptance Norms">Select Acceptance Norms</label>
                                      <select class="form-control"><option >Select Acceptance Norms</option></select>
                                  </div>
                              </div>
                      </fieldset>
                      <fieldset>
                          <legend>Payment</legend>
                              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                  <div class="form-group">
                                      <label for="Payment Mode">Payment Mode</label>
                                      <select class="form-control" [(ngModel)]="model.payment_mode" formControlName="payment_mode"><option >Select Payment Mode</option></select>
                                  </div>
                              </div>
                              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                  <div class="form-group">
                                      <label for="Payment Terms">Payment Terms</label>
                                      <select class="form-control" [(ngModel)]="model.payment_terms" formControlName="payment_terms"><option >Select Payment Terms</option></select>
                                  </div>
                              </div>
                      </fieldset>
                      <fieldset>
                              <legend>Applicable Charges</legend>
                                  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                      <div class="form-group">
                                          <label for="Payment Mode">Applicable Charges Id</label>
                                          <select class="form-control"><option >Select Applicable Charges Id</option></select>
                                      </div>
                                  </div>
                                  <div class="singel col-lg-12 col-md-12 col-sm-12 col-12">
                                      <div class="tble_row">
                                      <div  class="dyn_table_header">
                                          <label class="label_col" style="margin: 0px 10px;  float: left;"><mat-checkbox></mat-checkbox></label>
                                          <label class="label_col"><h3>Charges Name.</h3></label>
                                          <label class="label_col"><h3>Rate Calculation Method</h3></label>
                                          <label class="label_col"><h3>Amount</h3></label>
                                      </div>
                                      <div  class="dyn_table_data_cont">
                                          <div class="dyn_table">
                                              <div class="label_col"  style="margin: 0px 10px;  float: left;"><mat-checkbox class=""></mat-checkbox></div>
                                              <div class="label_col"><input class="form-control" type="text" /></div>
                                              <div class="label_col"><select class="form-control"><option>-select-</option></select></div>
                                              <div class="label_col"><input class="form-control" type="text" /></div>
                                          </div>
                                      </div>
                                  </div>
                                  </div>
                      </fieldset>
                  </mat-tab>
                  <mat-tab label="Broker Details" >
                          <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                  <div class="form-group">
                                      <label for="Broker Name">Broker Name</label>
                                      <select class="form-control" [(ngModel)]="model.broker_name" formControlName="broker_name"><option >Select Broker Name</option></select>
                                  </div>
                          </div>
                          <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                  <div class="form-group">
                                      <label for=" GL Account"> GL Account</label>
                                      <select class="form-control"><option >Select  GL Account</option></select>
                                  </div>
                          </div>
                          <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                  <div class="form-group">
                                      <mat-checkbox>Brokerage Applicable</mat-checkbox>
                                  </div>
                              </div>
                    
                  </mat-tab>
                  <mat-tab label="Transport Information"> 
                        <div formGroupName="pur_Order_Trans_Infos">
                      <fieldset class="dnmk">
                          <legend>Transport Information</legend>
                              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                  <div class="form-group">
                                      <label for="Transport Borne By">Transport Borne By</label>
                                      <select class="form-control"  formControlName="trans_borne_by"><option >Select Transport Borne By</option></select>
                                  </div>
                              </div>
                              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                  <div class="form-group">
                                      <label for="Transporter Name">Transporter Name</label>
                                      <select class="form-control"  formControlName="transporter_name"><option >Select Transporter Name</option></select>
                                  </div>
                              </div>
                              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                  <div class="form-group">
                                      <label for="Mode Of Transport"> Mode Of Transport</label>
                                      <select class="form-control"  formControlName="mode_of_trans"><option >Select Mode Of Transport</option></select>
                                  </div>
                              </div>
                              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                  <div class="form-group">
                                      <label for="Transportation Rate">Transportation Rate</label>
                                      <select class="form-control"  formControlName="transport_rate"><option >Select Transportation Rate</option></select>
                                  </div>
                              </div>
                              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                  <div class="form-group">
                                      <label for="Charge Code">Charge Code  </label>
                                      <select class="form-control"  formControlName="charge_code"><option >Select Charge Code  </option></select>
                                  </div>
                              </div>
                              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                  <div class="form-group">
                                      <label for="Rate Value">Rate Value</label>
                                      <input type="text" class="form-control"  formControlName="rate_value">
                                  </div>
                              </div>
                     </fieldset> 
                      <fieldset class="dnmk">
                          <legend>Payment</legend>
                              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                  <div class="form-group">
                                      <label for="Payment Mode">Payment Mode</label>
                                      <select class="form-control"  formControlName="payment_mode"><option >Select Payment Mode</option></select>
                                  </div>
                              </div>
                              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                  <div class="form-group">
                                      <label for="Payment Terms">Payment Terms</label>
                                      <select class="form-control"  formControlName="payment_terms"><option >Select Payment Terms</option></select>
                                  </div>
                              </div>
                      </fieldset> 
                      </div>
                  </mat-tab>
                  <mat-tab label="Business Partner Details"> 
                        <div formGroupName="pur_Order_BPDetails">
                      <fieldset class="dnmk">
                          <legend>Supplier Information</legend>
                              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label for="Name">Name</label>
                                        <input type="text" class="form-control"  formControlName="supp_name">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                  <div class="form-group">
                                      <label for="Phone No">Phone No.</label>
                                      <input type="number" class="form-control"  formControlName="supp_phone">
                                  </div>
                              </div>
                              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                  <div class="form-group">
                                      <label for="Fax">Fax</label>
                                      <input type="text" class="form-control"  formControlName="supp_fax">
                                  </div>
                              </div>
                              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                  <div class="form-group">
                                      <label for="E-Mail">E-Mail</label>
                                      <input type="email" class="form-control"  formControlName="supp_email">
                                  </div>
                              </div>
                              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                  <div class="form-group">
                                      <label for="Address">Address</label>
                                      <textarea class="form-control"  formControlName="supp_address" rows="1"></textarea>
                                  </div>
                              </div>
                      </fieldset>
                      <fieldset class="dnmk">
                          <legend>Contact Person Information</legend>
                              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                  <div class="form-group">
                                      <label for="Name">Name</label>
                                      <input type="text" class="form-control"  formControlName="cp_name">
                                  </div>
                              </div>
                              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                  <div class="form-group">
                                      <label for="Phone No">Phone No.</label>
                                      <input type="number" class="form-control"  formControlName="cp_phone">
                                  </div>
                              </div>
                              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                  <div class="form-group">
                                      <label for="Fax">Fax</label>
                                      <input type="text" class="form-control" formControlName="cp_fax">
                                  </div>
                              </div>
                              <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                  <div class="form-group">
                                      <label for="E-Mail">E-Mail</label>
                                      <input type="email" class="form-control"  formControlName="cp_email">
                                  </div>
                              </div>
                              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                  <div class="form-group">
                                      <label for="Address">Address</label>
                                      <textarea class="form-control"  formControlName="cp_address" rows="1"></textarea>
                                  </div>
                              </div>
                      </fieldset>
                     </div>    
                  </mat-tab>
                      <mat-tab label="Remarks"> 
                          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                  <div class="form-group">
                                      <label for="E-Mail">Remarks</label>
                                      <textarea class="form-control" [(ngModel)]="model.remarks" formControlName="remarks" rows="1"></textarea>
                                  </div>
                          </div>
                      </mat-tab>
                      <mat-tab label="Document Attachment">
                          <div class="col-lg-3 col-md-4 col-sm-6 col-12 dnmk">
                              <div class="form-group">
                                  <label for="E-Mail">Select file</label>
                                  <input type="file" class="form-control" [(ngModel)]="model.doc_upload" formControlName="doc_upload">
                              </div>
                          </div>
                          <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                              <div class="form-group">
                                  <label for="E-Mail">&nbsp;</label>
                                  <button type="button" class="btn btn-success">Upload </button>
                              </div>
                          </div>
                      </mat-tab>
                      <mat-tab label="Approval"> 
                          <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                              <div class="form-group">
                                  <label for="Confirmed By">Confirmed By</label>
                                  <select class="form-control" [(ngModel)]="model.confirmed_by" formControlName="confirmed_by"><option >Select Confirmed By</option></select>
                              </div>
                          </div>
                          <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                              <div class="form-group">
                                  <label for="Approved">Approved</label>
                                  <select class="form-control" [(ngModel)]="model.approved" formControlName="approved"><option >Select Approved</option></select>
                              </div>
                          </div>
                          <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                              <div class="form-group">
                                  <label for="Reason">Reason</label>
                                  <select class="form-control" [(ngModel)]="model.reason" formControlName="reason"><option >Select Reason</option></select>
                              </div>
                          </div>
                          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                              <div class="form-group">
                                  <label for="E-Mail">Remarks</label>
                                  <textarea class="form-control" [(ngModel)]="model.remarks" formControlName="remarks" rows="1"></textarea>
                              </div>
                          </div>
                      </mat-tab>
                      <mat-tab label="Termination"> 
                            <div formGroupName="pur_Order_Terminations">
                          <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                              <div class="form-group chk_tp_pad">
                                  <mat-checkbox>Close Purchase Order</mat-checkbox>
                              </div>
                          </div>
                          <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                              <div class="form-group">
                                  <label for="Order By">Order By</label>
                                  <select class="form-control"  formControlName="order_by"><option >Select Order By</option></select>
                              </div>
                          </div>
                          <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                              <div class="form-group">
                                  <label for="Reason">Reason</label>
                                  <select class="form-control"  formControlName="reason"><option >Select Reason</option></select>
                              </div>
                          </div>
                          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                  <div class="form-group">
                                      <label for="E-Mail">Remarks</label>
                                      <textarea class="form-control"  formControlName="remarks" rows="1"></textarea>
                                  </div>
                              </div>
                          <div class="clr"></div>
                          <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                              <div class="form-group">
                                  <button type="submit" class="btn btn-success">Calculate</button>
                              </div>
                          </div>
                          <div class="clr"></div>
                          <div class="col-lg-3 col-md-4 col-sm-6 col-12 dnmk">
                              <div class="form-group">
                                  <label for="Total Termination Charge">Total Termination Charge</label>
                                  <input type="text" class="form-control">
                              </div>
                          </div>
                          <div class="col-lg-3 col-md-4 col-sm-6 col-12 dnmk">
                              <div class="form-group">
                                  <label for="Add">Add</label>
                                  <input type="text" class="form-control">
                              </div>
                          </div>
                          <div class="col-lg-3 col-md-4 col-sm-6 col-12 dnmk">
                              <div class="form-group">
                                  <label for="Deduct">Deduct</label>
                                  <input type="text" class="form-control">
                              </div>
                          </div>
                          <div class="col-lg-3 col-md-4 col-sm-6 col-12 dnmk">
                              <div class="form-group">
                                  <label for="Net Termination Charge">Net Termination Charge</label>
                                  <input type="text" class="form-control">
                              </div>
                          </div>      
                                      
                        </div> 
                      </mat-tab>
          </mat-tab-group>
        </div>
        <div class="col-lg-12">
                <div class="form-group">
                   <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
       </form>
     </div>
   </section>
  
  
   <div class="master_container_box">
    <fieldset class="table_container">
      <legend>Purchase Order List</legend>
      <div class="table_content">
  <table class="table table-bordered">
            <thead>
              <tr>
                  <th>Order Number</th>
                  <th>Date</th>
                  <th>Service/Item Type</th>              
                  <th>Supplier Name</th>
                  <th>Business Unit</th>
  
              </tr>  
           </thead>
           <tbody>
                <tr *ngFor="let model of listIndent">
                    <td>{{model.pur_order_no}}</td>
                    <td>{{model.ord_date}}</td>
                    <td>{{model.ser_item_type}}</td>
                    <td>{{model.supplier_name}}</td>
                    <td>{{model.businessunit}}</td>
                    
                </tr>
  
           </tbody>
  </table>
  
  </div>
  </fieldset>
  </div>
  
  
  
  