.wth_1{width: 120px !important; display: inline-block;}
.data_table .form-control{ background: #fff; border: 1px solid #ccc;}
.data_table .dyn_table .label_col:last-child{border-right: 1px solid #ccc;}
.data_table .dyn_table .label_col{padding:4px; width: 115px; text-align: center;}


.posr label{width: auto;}