.mat-raised-button.mat-primary
{
    background-color: #31b0d5;
}

.mat-raised-button
{
    border-radius: 12px;
}

.tr_thead
{
    background: linear-gradient(to bottom, #d19527 0%, #fcae1f 100%); 
    color: #fff;
}