
::ng-deep .multiselect-dropdown { 
    width: 203%!important;
}

::ng-deep .multiselect-dropdown .dropdown-btn .selected-item-container .selected-item{ 
    max-width: 100%!important;
    margin: 4px!important;
}

